.hub-page {
  max-width: 552px;
  width: 552px;
  margin: 0 auto;
  display: block;
  min-height: 100vh;
  border-inline: 1px solid #DFE1E5 ;

}

.hub-header{
    width: 100%;
    height: 266px;
    background-image: linear-gradient(120deg, #ae2ce2 0%,#3d24ca 50%, #44e2e2 100%)}
