<div class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque necessitatibus quam
          expedita veritatis quas excepturi hic cum voluptatum aspernatur, recusandae natus quasi,
          sit dolorem unde reiciendis quia! Eaque voluptates, quam alias blanditiis, at repudiandae
          quod pariatur, sunt non officiis eius. Consequatur quae perferendis delectus, atque iste
          alias odio fuga placeat, eligendi quam, possimus maiores. Omnis doloremque, quaerat
          inventore consequuntur, ipsam quod vitae, odit quo impedit asperiores obcaecati rem. Est
          consequuntur quae aliquam tenetur vitae dolorum assumenda recusandae voluptate! Iusto est,
          saepe at iste laborum beatae nisi nam deleniti accusamus possimus adipisci corrupti cum
          magni dolores eligendi magnam aliquam itaque rerum. Vitae eaque exercitationem cum minima
          quia reprehenderit quasi aut sequi quae nesciunt consectetur asperiores totam explicabo
          aliquid autem nostrum quas, quod modi. Voluptate repellendus obcaecati quasi illo non,
          neque voluptatum, magnam ea amet, officiis aut! Distinctio reiciendis, accusantium ab
          dolor rerum maiores quae vero? Impedit aliquam molestiae magni vitae culpa.
        </p>
      </div>
     
    </div>
  </div>
</div>
