<div class="container mt-lg-150px">
	<div class="row px-lg-150px">
		<h1 class="fs-16px fw-bold">شرایط جامع استفاده از خدمات دیجی‌پی</h1>
		<strong class="fw-bold">مقدمه</strong>
		<p>
			شرکت نوآوران پرداخت مجازی ایرانیان (سهامی خاص) به شناسه ملی 14007678524 و شماره ثبت ۵۲۷۸۰۳
			مالک علامت تجاری دیجی‌پی و صاحب امتیاز نرم افزار، پلتفرم و وب سایت دیجی‌پی به آدرس‌های
			www.mydigipay.com و www.mydigipay.ir و www.digipay.ir که از این پس «دیجی‌پی» نامیده می‌شود از
			یک طرف و کاربر نرم افزار دیجی‌پی یا دریافت کنندگان خدمات و محصولات که از این پس «کاربر» نامیده
			می‌شود از طرف دیگر و پذیرنده و پذیرندگان دیجی‌پی که در این متن «پذیرنده» نامیده می‌شود، در
			خصوص موارد ذیل توافق نمودند. توافقات حاضر تابع قوانین و مقررات جمهوری اسلامی ایران به منظور
			تعیین تعهدات و تکالیف طرفین در خصوص خدمات، می‌باشد.
		</p>
		<strong class="fw-bold">تعاریف و اصلاحات</strong>
		<strong class="fw-bold">پذیرنده یا پذیرندگان:</strong>
		<p>
			کلیه فروشندگان یا ارائه دهندگان خدمات طرف قرارداد با دیجی‌پی که خرید کالا یا خدمات ایشان به
			وسیله سرویس‌های دیجی‌پی امکان پذیر است. در متن حاضر عبارت «پذیرنده» یا «پذیرندگان» ناظر به
			حقوق و تکالیف اختصاصی پذیرنده و عبارت «کاربر» جز در مواردی که تصریح شده، مشترک میان کاربر و
			پذیرنده یا پذیرندگان است.
		</p>
		<strong>کیف پول دیجی‌پی:</strong>
		<p>کیف پول الکترونیکی با قابلیت استفاده موجودی صرفاً در پلتفرم پذیرنده دیجی‌پی می‌باشد.</p>
		<strong>کاربر:</strong>
		<p>
			شخصی است که با وارد نمودن مشخصات خود در فرم ثبت‌نام دیجی‌پی، نسبت به ایجاد حساب کاربری در
			دیجی‌پی و استفاده از خدمات آن اقدام می‌نماید. این شخص ممکن است کاربر استفاده کننده از خدمات
			دیجی‌پی یا پذیرنده باشد که همه موارد در این متن به اختصار کاربر نامیده می‌شوند.
		</p>

		<strong>حساب کاربری</strong>
		<p>
			حسابی برای ثبت سوابق استفاده و مشخصات کاربر یا استفاده از خدمات دیجی‌پی است که در نتیجه
			ثبت‌نام کاربر در دیجی‌پی ایجاد می‌شود.
		</p>
		<strong>شرایط مشترک استفاده کاربر و پذیرنده از دیجی‌پی</strong>
		<p>
			شرایط مشترک استفاده کاربر و پذیرنده از دیجی‌پی کاربر مکلف است در چارچوب قوانین و مقررات موضوعه
			از جمله قانون بانک مرکزی، مبارزه با پولشویی مصوب 1386/11/02 مجلس شورای اسلامی، قانون مبارزه با
			تامین مالی تروریسم مصوب 1394/11/13 مجلس شورای اسلامی، قانون مبارزه با قاچاق کالا و ارز مصوب
			1392/10/03 مجلس شورای اسلامی، قانون مبارزه با مواد مخدر مصوب 1367/08/03 مجمع تشخیص مصلحت نظام،
			قانون جرایم رایانه ای مصوب 1388/03/05 مجلس شورای اسلامی، قانون تجارت الکترونیکی مصوب
			1382/10/17 مجلس شورای اسلامی و اصلاحات و الحاقات بعدی آنان و سایر قوانین و مقررات الزام آور از
			جمله دستورالعمل‌ها و الزامات بانک مرکزی و شاپرک فعالیت نماید و از انجام هرگونه فعالیت ناقض
			قوانین و مقررات موضوعه کشور در محیط دیجی‌پی و کیف پول دیجی‌پی، اجتناب ورزد. کاربر این اختیار
			را به دیجی‌پی می‌دهد تا در صورت وجود هرگونه دین سررسید شده کاربر نزد دیجی‌پی که ناشی از دریافت
			خدمات دیجی‌پی نظیر خدمات الان بخر بعداً پرداخت کن (BNPL) یا اخذ تسهیلات از بانک‌ها و مؤسسات
			اعتباری از طریق دیجی‌پی است، دیجی‌پی بتواند بدون نیاز به طی مراحل قضایی نسبت به برداشت از کیف
			پول کاربر به میزان بدهی کاربر همچنین از هرگونه وجوهی كه به وی پرداخت میشود و یا از حساب‌ها و
			اموال کاربر نزد خود یا هریک از پذیرندگان اقدام و معادل آن را از فهرست دیون کاربر خارج نماید.
			هرگونه استفاده مستقیم یا غیرمستقیم غیرمجاز از خدمات اپلیکیشن و تارنما و کیف پول دیجی‌پی که طبق
			قوانین موجود کشور مجرمانه شناخته شود (که شامل و نه محدود به موارد زیر است)، ممنوع است: خرید و
			فروش کارت‌های بخت آزمایی و شرکت در هر گونه قمار و شرط بندی. استفاده از شبکه خصوصی مجازی (وی پی
			ان) و خرید و فروش نرم افزارها، اقلام، تجهیزات و نرم‌افزارهای عبور از فیلترینگ جمهوری اسلامی
			ایران. استفاده از خدمات برای هرگونه هک و نفوذ و دسترسی غیرمجاز به سامانه‌ها و پایگاه‌های
			رایانه‌ای. خرید و فروش کالاهایی که حقوق مالکیت فکری مولف اعم از حقوق ناشر، مالک، مولف،
			پدیدآورنده اثر و امثال آنها را رعایت نمی‌کنند (نقض حق مؤلف و قوانین کپی‌رایت). خرید و فروش
			سیگار و سایر مواد دخانی. خرید و فروش انواع سلاح‌های گرم و سرد. خرید و فروش کالاها و ارائه
			خدماتی که مبادله یا ارائه آنها دارای مقررات و نظامات خاص است. خرید و فروش کالاها و ارائه
			خدماتی که برای مصرف کننده خطر جدی در پی دارد. خرید و فروش کالاهایی از قبیل مواد مخدر، مشروبات
			الکلی، روان گردان‌ها، مواد سکرآور، کالاهای قاچاق که مبادله آنها طبق قانون ممنوع است. خرید و
			فروش کالاهایی و ارائه خدماتی که مبادله آنها مغایر با آداب اسلامی است. خرید و فروش کالاها و
			ارائه خدماتی که انجام فعالیت‌های غیرقانونی را به نحوی تشویق یا تسهیل می‌کنند. خرید و فروش
			کالاهای به دست آمده از ارتکاب جرم یا نقض مقررات کشوری و لشکری. خرید و فروش یا ارائه کلیه
			کالاها یا خدماتی که ارائه آنها نیازمند اخذ مجوز یا پروانه است، بدون اخذ مجوزهای لازم از مبادی
			قانونی و مراجع صلاحیت‌دار صدور مجوز. چنانچه کاربر از طریق دیجی‌پی اقدام به دریافت هرگونه کالا
			یا اعتبار یا خدمات نماید یا در فرایند احراز هویت، پیامک یا کد تأیید دریافت نماید یا حسب مرجوعی
			(ریفاند) هرگونه کالا یا خدمات منتهی به ایجاد کیف پول یا ایجاد حساب کاربری برای وی گردد و به
			هرحال استفاده یا تداوم استفاده کاربر از دیجی‌پی، به معنی این است کلیه قراردادهای مربوطه مورد
			قبول وی بوده و تایید قراردادهای موصوف به منزله امضای کاربر می‌باشد. دفاتر و صورتحساب‌های
			دیجی‌پی در هر مورد برای طرفین اعم از دیجی‌پی، کاربر و پذیرنده معتبر و غیر قابل اعتراض بوده و
			تشخیص تخلف از هر یك از شرایط و مقررات و تعهدات ناشی از این قرارداد (و پیوست‌های آن) با دیجی‌پی
			می‌باشد و تفسیر و تعبیر دیجی‌پی برای کاربر الزام آور است. به هر کاربر یک سقف اعتبار و یک حساب
			کاربری تعلق می‌گیرد. شماره تلفن همراه ثبت شده در پلتفرم دیجی‌پی باید در مالکیت شخص کاربر
			درخواست‌کننده خدمات باشد. از این رو کاربر تعهد نمود قبل از انتقال سیم کارت، مراتب را به
			دیجی‌پی اطلاع رسانی و کلیه دیون و تعهدات خود را در قالب دین حال به همراه وجه التزام احتمالی
			بلافاصله تسویه و به دیجی‌پی پرداخت نماید. مالک سابق خط تلفن همراه (مالک خط تلفن همراه در زمان
			ساخت حساب کاربری در دیجی‌پی) که از طریق آن، از خدمات دیجی‌پی بهره برداری می‌گردد، مسئول ایفای
			کلیه تعهدات بوده و هیچگونه عذری از سوی ایشان مبنی بر سوء استفاده خریدار یا ثالث از حساب کاربری
			نسبت به تعهدات به دیجی‌پی مسموع نبوده و مسئولیتی در این خصوص متوجه دیجی‌پی نیست. کاربر موظف
			است هنگام ایجاد حساب کاربری، اطلاعات صحیح و به‌روز خود را وارد نماید و در صورت تغییر مشخصات
			کاربر در مراجع قانونی، بلافاصله آن را در دیجی‌پی نیز اصلاح و به‌روز رسانی نماید. همچنین کاربر
			متعهد می‌شود از پست الکترونیک، شماره موبایل یا سایر مشخصات دیگران استفاده نمی‌کند و هویت شخص
			یا اشخاص حقیقی و حقوقی دیگر را ابراز نمی‌کند یا به هر نحوی هویت اصلی خود را مخفی نمی‌کند.
			کاربر متعهد است اطلاعات و داده‌های خود را چه در زمان ثبت‌نام و چه در زمان استفاده از دیجی‌پی،
			شخصا وارد نماید و متعهد می‌گردد در هنگام استفاده از دیجی‌پی از هیچ‌گونه ابزاری نظیر نرم
			افزارهای واسط، هوش مصنوعی و ربات‌ برای استفاده از دیجی‌پی و خدمات آن استفاده ننماید. هر کاربر
			می‌تواند با شماره تلفنی که به نام و منطبق با کد ملی اوست، در دیجی‌پی ثبت نام کند. کارت بانکی
			ثبت شده در پروفایل کاربر الزاماً باید به نام و قابل انطباق با شماره ملی او باشد. در زمان ارائه
			درخواست برداشت وجه از کیف پول، تطابق اطلاعات کد ملی، شماره موبایل و کارت ‌بانکی استعلام می‌شود
			و عملیات برداشت وجه تنها با حساب و کارت ‌بانکی متعلق به کاربر امکان‌پذیر است. به دستور بانک
			مرکزی کشور در هر بار فرایند پرداخت کارت به کارت یا سایر فعالیت‌های مالی تطابق شماره ملی کاربر
			با شماره کارت بانکی و شماره تلفن همراه کنترل خواهد شد. لذا در صورت عدم تطابق یا مغایرت هریک از
			مشخصات فوق و عدم امکان انجام فعالیت مورد نظر کاربر به این دلیل، مسئولیتی متوجه دیجی‌پی نیست و
			کاربر حق هرگونه اعتراض در این خصوص در کلیه مراجع صنفی، اداری، قضایی و شبه قضایی را از خود سلب
			می‌نماید. کاربر می‌تواند در تماس تلفنی با پشتیبانی فنی دیجی‌پی، درخواست خود را برای غیرفعال
			شدن حساب کاربری دیجی‌پی اعلام کند. دیجی‌پی صرفاً پس از احراز هویت کاربر و احراز عدم وجود
			محدودیت یا ممنوعیت نظیر وجود هرگونه دین و بدهی کاربر به دیجی‌پی، امکان غیرفعال نمودن حساب
			کاربر را دارد و در صورت عدم امکان کاربر برای احراز هویت خود، مسئولیتی متوجه دیجی‌پی نیست.
			غیرفعال شدن حساب کاربری، تنها به حذف اطلاعات کاربر در برنامه موبایل منجر می‌شود و فعالیت‌های
			پیشین کاربر برای مواردی از جمله بهبود عملکرد سیستم و حسب مورد درخواست مقامات صالح قانونی در
			سرورهای دیجی‌پی باقی می‌ماند و در صورت استعلام مراجع رسمی، در مواقع بروز تخلف، همچنان قابل
			استناد است. همچنین دیجی‌پی می‌تواند در صورت لزوم و برای توسعه خدمات خویش از کلیه اطلاعات
			کاربران به طور تجمیعی و تحلیلی استفاده نماید. کاربر باید پیش از واگذاری تلفن همراه خود، ابتدا
			از حساب کاربری خود در دیجی‌پی خارج شود و سپس اپلیکیشن را بر روی تلفن همراه، حذف و غیرفعال
			نماید. تنها در این حالت است که اطلاعات کاربری و پیام‌های دریافت شده از دسترس مالک بعدی دستگاه
			خارج می‌شود. در صورت سهل‌انگاری و عدم انجام امور مربوط به این ماده، کلیه مسئولیت‌های ناشی از
			عدم رعایت مفاد این ماده، متوجه شخص کاربر است. با‌توجه‌ به محدودیت‌ها، مشکلات و اختلالات
			احتمالی در شبکۀ بانکی و شرایط خاص، ممکن است درخواست واریز وجه با تأخیر مواجه شود. دیجی‌پی عدم
			بروز اشکال یا قطعی در شبکۀ بانکی را تضمین نمی‌کند. بدین وسیله کاربر موافقت می‌کند که در صورت
			بروز مشکل، مسئولیتی متوجه دیجی پی نیست. پس از ارائه درخواست برداشت وجه، نباید موجودی کیف پول
			کاربر کمتر از میزان درخواست داده شده برای برداشت وجه باشد. درصورتی‌که پس از ارائه درخواست
			برداشت وجه، موجودی کمتر از میزان درخواست شده باشد، برداشت وجه انجام نمی‌شود. در‌صورتی‌که
			پرداخت کاربر به‌صورت ناموفق انجام پذیرد و مبلغ از حساب کاربر کسر شده باشد، این مبلغ طی ۷۲ ساعت
			پس از پرداخت به حساب پرداخت‌کننده باز می‌گردد. در صورت عدم استرداد طی ۷۲ ساعت، کاربر می‌بایست
			اطلاعات دقیق پرداخت را از طریق پشتیبانی ارسال کند تا بررسی و پیگیری‌های لازم انجام پذیرد. در
			صورت وقوع تراکنش ناموفق یا هرگونه پرداخت ناموفق که ناشی از اشتباه کاربر نبوده و عدم بازگشت وجه
			به حساب کاربر، دیجی‌پی تمام تلاش خود را انجام می‌دهد تا وجه واریزی در سریع‌ترین زمان ممکن به
			کیف پول کاربر بازگردانده شود. اما طرفین به این موضوع آگاه هستند که این روند ممکن است به دلیل
			وجود برخی اشخاص دخیل نظیر شاپرک و...، با تأخیر مواجه گردد. از این نظر در صورت واریز وجه با
			تأخیر موجهی پس از بازگشت پول از شاپرک، مسئولیتی متوجه دیجی‌پی نیست. در صورت بروز هرگونه تغییر
			در قوانین و مقررات مراجع ذی‌صلاح حاکم بر کسب و کار، قرارداد با اشخاص ثالث و مسائل زیرساختی و
			فنی یا سایر شرایط به صلاحدید دیجی‌پی، دیجی‌پی می‌تواند تغییراتی در شرایط و مقررات حاضر اعمال
			کند که این تغییرات همواره در بخش قوانین و مقررات اپلیکیشن در دسترس کاربر است. کاربر باید در
			صورت مشاهده هرگونه عملیات غیرمجاز نسبت به حساب کاربری خود نظیر تراکنش‌های مشکوک یا تراکنشی که
			توسط کاربر صورت نگرفته است، مراتب را در اولین فرصت به پشتیبانی دیجی‌پی و حسب مورد، مراجع صالح
			قضایی و انتظامی اطلاع داده و پیگیری نماید. کاربر متعهد است پیام‌های (OTP) دریافتی ناشی از
			فرایند احراز هویت را به‌صورت محرمانه نزد خود نگه داشته و به هیچ عنوان در اختیار فرد دیگری قرار
			ندهد. شرایط استفاده از کیف پول دیجی‌پی صرفاً مبالغی که از حساب بانکی به کیف پول کاربر واریز
			شده‌اند، به صورت نقدی قابل برداشت یا انتقال به کارت‌های دیگر هستند. لذا مبالغی نظیر اعتبار
			دیجی‌پی، هدیه، بن و پاداش سازمانی و یا تسهیلات دریافتی از بانک قابلیت نقد شوندگی یا انتقال به
			کارت‌های بانکی را ندارند. کیف پول کاربر می‌تواند شامل اعتبار نقدی یا هدیه باشد. مبالغ و
			کارت‌های هدیه، تسهیلات و نظایر آن که از سوی سازمان‌ها یا شرکت‌ها و... به کاربر تخصیص یافته
			قابلیت نقد شوندگی نداشته و صرفاً در فروشگاه‌های طرف قرارداد با دیجی‌پی امکان خرج شوندگی دارند.
			لذا کاربر عالم و آگاه است که نمی‌تواند درخواستی مبنی بر امکان نقدشوندگی این وجوه داشته باشد و
			در صورت درخواست کاربر، مسئولیتی در خصوص ترتیب اثر دادن به این درخواست متوجه دیجی‌پی نیست.
			در‌صورتی‌که پرداخت کاربر به‌صورت ناموفق انجام پذیرد و مبلغ از حساب کاربر کسر شده باشد، این
			پمبلغ طی حداکثر ۷۲ ساعت پس از پرداخت به حساب پرداخت‌کننده باز می‌گردد. در صورت عدم استرداد طی
			۷۲ ساعت، کاربر می‌تواند اطلاعات دقیق پرداخت را از طریق پشتیبانی ارسال کند تا بررسی و
			پیگیری‌های لازم انجام پذیرد. دیجی‌پی مجاز است نسبت به فعال‌سازی کیف پول کاربر در پنل کاربری
			ایشان نزد پذیرنده به صورت خودکار و بدون نیاز به درخواست یا تأیید موردی کاربر اقدام نماید. لذا
			کاربر و پذیرنده در این خصوص رضایت کامل دارند. با‌توجه‌ به محدودیت‌ها، مشکلات و اختلالات
			احتمالی در شبکۀ بانکی و شرایط خاص، ممکن است درخواست واریز وجه با تأخیر مواجه شود. دیجی پی عدم
			بروز اشکال یا قطعی در شبکۀ بانکی را تضمین نمی‌کند در عین حال تلاش خود را برای فراهم نمودن
			زیرساخت‌های لازم با کمترین قطعی و محدودیت ممکن به کار می‌گیرد. بدین وسیله کاربر موافقت می‌کند
			که در صورت بروز مشکل، مسئولیتی متوجه دیجی‌پی نیست. در صورت وقوع تراکنش ناموفق یا هرگونه پرداخت
			ناموفق که ناشی از اشتباه کاربر نبوده و عدم بازگشت وجه به حساب کاربر، دیجی‌پی تمام تلاش خود را
			می‌کند که وجه واریزی در سریع‌ترین زمان ممکن به کیف پول کاربر بازگردانده شود. اما طرفین به این
			موضوع آگاه هستند که این روند ممکن است به دلیل وجود برخی اشخاص دخیل نظیر شاپرک و...، با تأخیر
			مواجه گردد. از این نظر در صورت واریز وجه با تأخیر موجه پس از بازگشت پول از شاپرک، مسئولیتی
			متوجه دیجی‌پی نیست. دیجی‌پی با تمام توان متعارف خود برای برقراری همیشگی سرویس‌ها تلاش و در
			صورت مشاهده، هر اختلالی را حتی با وجود خارج بودن از حوزه اختیارات خود، پیگیری خواهد کرد و در
			کنار کاربران خواهد بود. اما در مقابل بروز مشکلات زیرساختی که از محدوده اختیارات این مجموعه
			خارج باشد (همچون اختلال در شبکه مخابراتی، اختلال در شبکه اینترنتی، وب سرویس‌ها و...) و منجر به
			اختلال در ارائه خدمات شود، مسئولیت اصلی متوجه سرویس دهنده زیرساخت است و دیجی‌پی مسئولیتی
			برعهده نخواهد داشت. دیجی‌پی، با حفظ پیمان رازداری و شرایط محرمانگی و تنها برای مواردی از قبیل
			برقراری امنیت اطلاعات و ارتقاء آن و بهبود کیفیت سرویس‌ها و تجربه کاربری و نظایر آن، برخی از
			داده‌ها و اطلاعات را ذخیره می‌کند. در صورتی که با بررسی‌های فنی و انسانی دیجی‌پی یا اطلاع
			دیجی‌پی از هر طریق از جمله ابلاغ مراجع نظارتی و قضایی سوءجریان یا نقض قوانین و مقررات لازم
			الاجرای کشور یا قوانین و مقررات استفاده از کیف پول مشاهده گردد، دیجی‌پی مجاز است حسب مورد تا
			زمان تعیین تکلیف نهایی موضوع در مراجع نظارتی، نسبت به محدود یا مسدودسازی حساب کاربر اقدام
			نماید. در این خصوص هیچ‌گونه مسئولیتی متوجه دیجی‌پی نیست و کاربر در مدت موضوع این ماده، امکان
			درخواست آزادسازی یا انتقال وجوه مسدود شده خود را ندارد. حقوق و تکالیف کاربر استفاده از دیجی‌پی
			با توجه به آثار و تعهدات مالی آن، مختص افراد بالای سن 18 سال می‌باشد. کاربر با پذیرش این متن،
			ابراز داشته که به سن قانونی 18 سال تمام شمسی رسیده و دارای اهلیت قانونی است. کاربر متعهد گردید
			در صورتی که به دیجی‌پی یا تأمین‌کنندگان مالی وی یا فروشگاه‌های طرف قراداد دیجی‌پی (پذیرندگان)
			بدهی دارد، پرداخت مذکور در قالب اقساط یا سایر موارد را در موعد سررسید بدواً از طریق پلتفرم
			دیجی‌پی یا طرق دیگر که مورد تأیید دیجی‌پی باشد، پرداخت نماید. در صورت تخلف یا نقض تعهد از هریک
			از تعهدات سند حاضر از سوی کاربر، دیون مؤجل کاربر در صورت وجود، تبدیل به دین حال می‌گردد. در
			صورت نقض تعهد یا تأخیر اجرای تعهد از سوی کاربر از قبیل تأخیر در پرداخت یا عدم پرداخت اقساط و
			دیون، دیجی‌پی می‌تواند از ارائه خدمات یا کالا (مرتبط با خدمات خود یا پذیرنگان) به کاربر امتناع
			نموده و یا کالای خریداری شده توسط کاربر از پذیرنده ها را در قالب نوعی تضمین اجرای تعهد کاربر،
			در قبض خود نگهداری نماید و همچنین حساب کاربری وی را به تشخیص خود محدود ساخته یا به حالت تعلیق
			درآورد. در این صورت کاربر همچنان مشمول وجه التزام مربوط به تعهدات خود است. در هنگام هر خرید یا
			دریافت خدمات اعتبار، قرارداد مربوطه (مانند قرارداد مرابحه یا قرارداد خرید اقساطی یا سایر
			اسناد، تعهدنامه‌ها و قراردادها به رویت و تأیید کاربر رسیده و تأیید قراردادهای مذکور به منزله
			تأیید قرارداد نهایی شامل تمامی قرادادهای پیشین و تعهداتی که پس از انقضاء مهلت خرید ایجاد
			می‌گردد نیز می‌باشد و مورد استناد مراجع ذیصلاح قرار خواهد گرفت. کاربر صرفاً به صورت شخصی، از
			حساب کاربری خود در پلتفرم دیجی‌پی می‌تواند استفاده نماید و در اختیار گذاشتن تلفن همراه و
			دسترسی به اپلیکیشن یا سایت دیجی پی مذکور به ثالث و حق انتقال یا واگذاری حساب کاربری یا اعتبار
			یا تسهیلات خود به ثالث و یا دراختیار قرار دادن یا ایجاد دسترسی ثالث به حساب کاربری خود را
			ندارد. در صورت تخلف، کاربر مسئول کلیه تعهدات مربوطه و جبران خسارات احتمالی وارده به دیجی‌پی
			خواهد بود. دیجی‌پی نیز هیچ‌گونه مسئولیتی در خصوص تعهدات و خسارات احتمالی ناشی از این بند که به
			کاربر وارد می‌شود، ندارد. همچنین مسئولیت هرگونه سوء استفاده از حساب کاربری کاربر، از جمله نقل
			و انتقال غیرمجاز وجوه یا سایر موارد حقوقی یا کیفری بر عهده کاربر می‌باشد. در صورت تخلف، کاربر
			مسئول کلیه تعهدات مربوطه و جبران خسارات احتمالی وارده به دیجی‌پی خواهد بود. به کاربر متذکر
			می‌گردد از ذخیره سازی کلمه عبور یا رمز خود در تلفن یا سیستم خودداری نماید و به‌صورت دوره ای در
			فواصل کوتاه کلمه عبور خود را تغییر نماید. در صورتی که به سبب فعالیت کاربر در فضای مجازی و
			استفاده از خدمات دیجی‌پی، هر سازمان، نهاد یا مرجع ذیصلاح، دیجی‌پی را جریمه یا مجازات نماید،
			خسارت وارده یا جریمه مذکور از کاربر دریافت می‌گردد. در صورت نقض تعهد از سوی کاربر، در مواردی
			که وجه التزام مشخص جهت نقض یا تأخیر اجرای تعهدات کاربر مشخص نگردیده باشد، در صورت ورود خسارت
			به دیجی‌پی، میزان خسارت حسب نظر مرجع ذیصلاح قانونی تعیین و کاربر ملزم به پرداخت می‌باشد. کاربر
			متعهد است همواره در استفاده از پلتفرم دیجی‌پی و حساب کاربری خود حسن نیت داشته و از هر گونه
			اقدام که موجب ورود خسارت مادی یا معنوی به دیجی‌پی گردد، امتناع نماید. کلیه حقوق مادی و معنوی
			پلتفرم دیجی‌پی متعلق به دیجی‌پی است و استفاده از حساب کاربری در پلتفرم دیجی‌پی هیچگونه حقی در
			این خصوص برای کاربر ایجاد نخواهد کرد. در صورت درخواست مقام‌های ذیصلاح قانونی، اطلاعات کاربر در
			اختیار مقامات قانونی صالح قرار میگیرد. در صورت دریافت ابلاغ قضایی یا دستور ضابطان دادگستری
			مبنی بر انسداد یا تعلیق حساب کاربری، توقیف وجه یا کالا، دستور واصله در حساب کاربر اعمال خواهد
			شد. دیجی‌پی می‌تواند مانع ارسال کالا از سوی پذیرنده و نیز تحویل کالا یا ارائه خدمات به کاربر
			گردد. حقوق و تکالیف پذیرندگان تمام مسئولیت کیفیت و تحویل کالا یا خدمات ارائه شده بر عهده‌ی
			پذیرنده است و دیجی‌پی هیچ مسئولیتی در قبال آن ندارد. پذیرنده متعهد است در صورت تغییر در زمینه
			فعالیت (صنف)، آدرس محل، سایت، تغییر شماره تلفن اعم از ثابت و یا همراه یا هرگونه اطلاعات مندرج
			در قرارداد، موضوع را به صورت مکتوب به دیجی‌پی اعلام کند، در غیر این صورت دیجی‌پی در صورت اطلاع
			حق فسخ قرارداد را به صورت یک طرفه دارد. بدیهی است ادامه همکاری در حوزه جدید منوط به موافقت
			دیجی‌پی خواهد بود. پذيرندگان بايد ترتيبي اتخاذ نمايند تا پيش از زمان سررسيد تاريخ انقضاي
			مجوزهاي اخذ شده از مراجع ذيصلاح (اعم از جواز كسب و غيره)، نسبت به تمديد مجوز خود اقدام نموده و
			مدارك مثبت مربوطه را به شركت دیجی‌پی، ارائه كنند. بديهي است درصورت عدم رعايت اين الزام توسط
			پذيرندگان، دیجی‌پی در قبال ادامه همكاري با «پذیرنده» درخصوص ارائه خدمات از جمله درگاه پرداخت
			اينترنتي به ايشان، داراي مسئوليت نمي‌باشد. کلیه حواله‌ها به صورت پایا و توسط شرکت شاپرک انجام
			میگردد و دیجی‌پی نقشی در زمان صدور حواله و واریز آن به حساب مقصد و موارد مرتبط ندارد. هر شخص
			باید جهت انجام فرایند تسویه حساب، اطلاعات حساب بانکی به نام خود را معرفی و ثبت نماید و مسئولیت
			ثبت اشتباه اطلاعات و یا ثبت اطلاعات حساب بانکی به نام شخص دیگر بر عهده پذیرنده است. بدیهی است
			در صورت عدم مطابقت شماره حساب اعلامی با شماره ملی پذیرنده، تا زمان اصلاح عدم تطابق، امکان
			واریز وجه به حساب پذیرنده وجود ندارد و مسئولیتی در خصوص تأخیر در واریز وجه به حساب پذیرنده،
			متوجه دیجی‌پی نیست. پذیرنده موظف است برای کالا و خدمات فروخته‌ شده رسید تأییدیه از مشتری اخذ و
			نگهداری نماید، بدیهی است هرگونه مسئولیت در زمینه کیفیت یا کمیت کالای ارائه‌ شده و نیز ارسال آن
			بر عهده پذیرنده است و در صورت اعلام مشتری مبنی بر عدم دریافت کالا، پذیرنده موظف به ارائه رسید
			دریافت شده از سوی مشتری است. پذیرنده موظف است اطلاعات کامل مشتری را دریافت کند. ارائه‌ی
			اطلاعات مشتریان به مراجع قضایی در صورت نیاز به عهده پذیرنده خواهد بود. پذیرنده موظف است شماره
			رسید دیجیتالی تأیید شده از سوی دیجی‌پی را واضح و آشکار روی سایت خود به خریدار نمایش دهد.
			پذیرنده موظف است در سایت خود اطلاعات کامل بخش پشتیبانی و راه ارتباطی با کاربران از جمله شماره
			تماس، پست الکترونیکی و یا بخش تماس با ما را جهت ارائه پشتیبانی به کاربران قرار دهد، در غیر این
			صورت، درصورت مراجعه کاربر جهت دریافت پشتیبانی، اطلاعات تماس پذیرنده به کاربر ارائه خواهد شد.
			پذيرنده متعهد به درج شماره پشتيباني دیجی‌پی قبل از هدايت كاربر به درگاه پرداخت اينترنتي است.
			پذیرنده موظف است هویت خریدار و مشتری خود را احراز نماید، همچنین اعتبارسنجی نام، آدرس پست
			الکترونیک، شماره تلفن همراه، آدرس و کدپستی و حفظ آن اطلاعات تا 6 ماه پس از پرداخت تماما بر
			عهده پذیرنده است. در صورتی که تراکنش غیر مجازی از درگاه پذیرنده انجام گیرد که اطلاعات کافی و
			صحیح جهت انعکاس به مراجع قضایی در اختیار پذیرنده نباشد، جبران کلیه مسئولیت‌های احتمالی حقوقی و
			کیفری آن بر عهده پذیرنده است. استفاده از درگاه پرداخت به صورت مستقیم و یا غیر مستقیم در داخل
			فریم (iframe) در وب سایت، برنامه تحت ویندوز، اپلیکیشن‌های موبایل و یا در هر بستری به غیر از
			مرورگر به صورت استاندارد که پرداخت کننده قادر به مشاهده مسیر پرداخت نباشد، ممنوع بوده و با
			پذیرندگان متخلف پیرو قوانین برخورد خواهد شد. دیجی‌پی با بهره‌گیری از امکانات فنی و انسانی خود،
			نظارت‌های لازم را مبنی بر عدم ارائه و فروش کالاها و خدمات خلاف قوانین و مقررات انجام خواهد
			داد، اما این موضوع نافی مسئولیت پذیرنده در ارائه و فروش کالاها و خدمات ممنوعه نبوده و پذیرنده
			مسئول کلیه عواقب و مسئولیت‌های احتمالی حقوقی و کیفری ارائه اقلام و خدمات غیرمجاز همچنین جبران
			خسارت‌های احتمالی مادی و معنوی وارده به دیجی‌پی، کاربر و ثالث است. پذیرنده می‌پذیرد دیجی‌پی
			هیچ‌گونه مسئولیتی در خصوص سهل‌انگاری یا نقض قوانین و مقررات از سوی پذیرنده ندارد. علاوه بر این
			پذیرنده متعهد می‌گردد درصورت رخداد موارد امنیتی مانند هک شدن سایت پذیرنده، بلافاصله موارد را
			به دیجی‌پی اعلام نماید تا دیجی‌پی نسبت به غیرفعال‌سازی‌کد پذیرندگی ‌مربوطه اقدام کند. پذیرنده
			باید پس از ارسال کالا و یا خدمات، از خریدار به هر طریق ممکن مدرک و یا مستنداتی مبنی بر تحویل
			محصول دریافت کند و به عنوان مدرک نزد خود نگه دارد که در صورت اعلام خریدار مبنی بر عدم دریافت
			کالا یا خدمات رسید دریافت شده را به خریدار و یا همچنین دیجی‌پی و حسب مورد مرجع قانونی، ارائه
			نماید. حقوق و تکالیف دیجی‌پی دیجی‌پی مجاز است در مراحل ثبت‌نام کاربر و ایجاد حساب کاربری در
			دیجی‌پی و همچنین در هریک از موارد دریافت خدمات از دیجی‌پی، نسبت به انجام فرآیندهای احراز هویت
			اقدام و با روش‌های فنی از جمله با دریافت مشخصات فردی و سجلی کاربر، دریافت ویدیوی زنده از کاربر
			و عندالزوم استعلام از اشخاص ثالث، اقدام نماید و کاربر این مجوز را به دیجی‌پی می‌دهد. در صورت
			ابطال بخشی از مفاد یا مواد خاص تعهدات حاضر، سایر تعهدات ، همچنان برای کاربر ایجاد التزام می
			نماید. مسدود شدن حساب کاربری کاربر یا هر گونه قطع خدمات از سوی پذیرنده یا دیجی‌پی یا استفاده
			از حق فسخ از سوی دیجی‌پی، تاثیری بر تعهدات کاربر که مطابق تعهدات قراردادی ایجاد گردیده است
			نخواهد داشت. در صورت بروز هرگونه اشتباه در محاسبات، دیجی‌پی میتواند به تشخیص خود اشتباه مذکور
			را اصلاح نموده و یا از کیف پول یا اعتبار کاربر جهت تصحیح اشتباه برداشت و کسر یا اصلاح نماید.
			در صورتی که کاربر در سامانه‌های یک یا تمام پذیرندگان مسدود باشد، مسئولیتی متوجه دیجی‌پی نخواهد
			بود و کاربر باید پیش از اقدام به ثبت نام، امکان خرید یا عدم مسدودی حساب کاربری خود را در
			سامانه های پذیرنده کنترل و بررسی نماید. اگر پذیرنده به تشخیص دیجی‌پی مرتکب تخلفی، دیجی پی مجاز
			است ارائه خدمات به کاربر یا پذیرنده را متوقف کند. هیچ‌گونه ادعایی مبنی بر ادعای ورود خسارت
			ناشی از فعل یا ترک فعل مستقیم یا غیرمستقیم دیجی‌پی در این ماده از سوی کاربر یا پذیرنده مسموع
			نبوده و کاربر یا پذیرنده حق هرگونه تقاضای خسارت و یا طرح ادعا و دعوی در مراجع اداری، صنفی،
			قضایی و شبه قضایی را در این زمینه از خود سلب نمود. کاربر این حق را به دیجی‌پی می‌دهد تا در
			صورتی که در موارد لزوم به هر دلیل کاربر در محل آدرس‌های اعلامی در سایت و اپلیکیشن دیجی‌پی و
			قراردادهای مرتبط با آنها یافت نشد یا امکان برقراری ارتباط با وی از طریق پیامک و پست الکترونیک
			میسر نشد، نشانی اعلام شده برای ارسال کالاهای خریداری شده از پذیرندگان دیجی‌پی و یا سایر راه‌ها
			و نشانی‌های ارتباطی موجود در مراکز داده پذیرنده، به‌عنوان نشانی کاربر تلقی گردیده و در صورت
			لزوم دیجی‌پی این حق را خواهد داشت که آنها را در کنار مواردی نظیر دیتای کاربر در راستای احقاق
			حق خویش و بهبود فرآیندهای دیجی‌پی و همچنین اموری نظیر اعتبارسنجی و... دریافت و ذخیره و در
			فرآیند کاری و پیگیری‌های خود به آن استناد نماید و کاربر حق هرگونه اعتراض در این خصوص را از خود
			سلب و ساقط می‌نماید. دیجی‌پی هیچ گونه مسئولیتی نسبت به هر گونه ایراد و یا ادعای خسارتی که از
			سوی پذیرنده به کاربر (به جز مواردی که در متن این قرارداد و یا به صورت مکتوب موخر بر انعقاد این
			قرارداد با پذیرنده توافق می‌گردد)، نخواهد داشت. نظر به علم کاربر به اینکه دیجی‌پی فروشنده نیست
			و نظر به عدم تضمین محصولات پذیرنده توسط دیجی‌پی و در نتیجه عدم نظارت بر آن، هرگونه عیب و نقص
			در کیفیت کالا یا خدمات پذیرنده مسئولیتی برای دیجی‌پی ایجاد نخواهد کرد. دیجی‌پی هیچ‌گونه
			مسئولیت و تعهدی نسبت به زمان تخصیص و مدت زمان انتظار کاربر برای تخصیص اعتبار به کاربر یا
			افزایش آن ندارد و کاربر نیز سلب حق اعتراض نسبت به موارد مندرج در این بند را به صراحت ابراز
			می‌نماید. در صورتی که قوانین، دستورالعمل‌ها و مقررات مرتبط با اختیارات یا تعهدات دیجی‌پی تغییر
			نماید به نحوی که مانع اجرای تعهد یا تعهدات دیجی‌پی گردد یا هریک از مجوزهای دیجی‌پی سلب، تعلیق
			یا خاتمه یابد یا به نحوی هر گونه الزامی از سوی نهاد یا مقام های نظارتی یا قضایی یا شبه قضایی
			خطاب به دیجی‌پی جهت تغییر تعهدات قراردادی یا اجرایی وی ابلاغ یا اعلام گردد، دیجی‌پی می‌تواند
			ارائه خدمات موضوع قرارداد را متوقف نماید. کاربر حق هر گونه اعتراض در این خصوص را از خود سلب و
			ساقط نمود. در صورت بروز هرگونه مشکل در روند تأمین، فروش کالا و خدمات یا خدمات پس از فروش که
			ناشی از قصور پذیرنده باشد، مسئولیتی متوجه دیجی‌پی نیست. دیجی‌پی اجازه دارد در موارد مشکوک به
			تخطی از قوانین و مقررات به تشخیص خود یا حسب دستور مقامات صالح قضایی، نسبت به بررسی تراکنش‌های
			مشکوک اقدام نماید. بدیهی است در زمان یا پس از بررسی تراکنش‌های مشکوک، دیجی‌پی مجاز به محدود یا
			مسدودسازی حساب کاربر تا پس از اتمام بررسی‌ها است. دیجی‌پی می‌تواند در هر زمان ارائه خدمات به
			کاربر را قطع و نیز می‌تواند حساب کاربری وی را (بدون پرداخت هرگونه خسارت) مسدود نماید، صرف نظر
			از این اختیار، دیجی‌پی می‌تواند از این توافق بدون پرداخت خسارت خارج گردد. دیجی‌پی می‌تواند با
			توجه به عملکرد کاربران اقدام به ارائه امتیازهایی به صورت جایزه به آنها داشته باشد، این
			امتیازها ممکن است با زمان استفاده محدود یا بدون آن در نظر گرفته شوند. دیجی‌پی این اختیار را
			دارد که هر زمان و بسته به صلاحدید خود اقدام به حذف امتیازهای ارائه شده نماید. در موارد ارائه
			خدماتی نظیر اعتبارسنجی، کارت به کارت، پرداخت عوارض آزادراهی و یا سایر خدماتی که مستلزم پرداخت
			یا جابه‌جایی وجه توسط کاربر است، دیجی‌پی حسب مورد هزینه خدمات یا در صورت وجود کارمزد مربوطه را
			مطابق با نرخی که در هنگام پرداخت به کاربر اعلام می‌گردد، از کاربر دریافت می‌نماید. بدیهی است
			دیجی‌پی می‌تواند از اطلاعات ناشی از موارد موضوع این ماده استفاده و بهره‌برداری نماید. دیجی‌پی
			تمام توان متعارف خود نسبت به پایداری و برقراری سرویس‌های خود تلاش کرده و در صورت مشاهده هرگونه
			اختلال حتی با وجود خارج بودن از حوزه اختیارات، آن را پیگیری خواهد کرد، اما در مقابل بروز
			مشکلات زیرساختی که از محدوده اختیارات این مجموعه خارج باشد (همچون اختلال در شبکه مخابراتی،
			اختلال در شبکه اینترنتی، وب‌سرویس‌ها و ...) که منجر به اختلال در ارائه خدمات شود، مسئولیت اصلی
			متوجه سرویس‌دهنده‌ زیرساخت است و دیجی‌پی مسئولیتی بر عهده نخواهد داشت. با وجود این دیجی‌پی تا
			زمان به نتیجه رسیدن، همه اختلال‌ها را پیگیری کرده و تا زمان برطرف شدن کامل اختلال در کنار
			کاربران خواهد بود. دیجی پی دارای سیستم پیشرفته مانیتورینگ جهت بررسی فعالیت های کاربران می باشد
			در صورتی که کاربری اقدام به انجام عملیات های خرابکارانه مانند اجرای نرم افزار، اسکریپت و یا
			حتی یک تغییر پارامتر در مسیر، جهت تست، بررسی و یا با هر عنوانی انجام دهد، پس از مشاهده علاوه
			بر حق مسدود سازی کامل دسترسی کاربر و اضافه شدن مشخصات به لیست سیاه اطلاعات موجود به همراه آی
			پی و مشخصات دیگر جهت پیگیری قضایی به مراجع ذیصلاح ارسال خواهد شد. ممکن است علاوه بر موارد
			مرسوم و معمول، در برخی موارد حسب الزامات فنی، قانونی یا حسب تشخیص دیجی‌پی، نیاز به احراز هویت
			مجدد کاربر یا پذیرنده وجود داشته باشد. در این موارد کاربر یا پذیرنده مکلف به شرکت در فرآیند
			احراز هویت است و در صورت عدم همکاری در بازه زمانی مشخص شده توسط دیجی‌پی، دیجی‌پی مجاز به
			تعلیق، مسدود یا محدودسازی حساب کاربر یا پذیرنده به صلاحدید خویش است. موارد این ماده در خصوص
			درخواست دیجی‌پی از کاربر یا پذیرنده مبنی بر ارائه سایر اسناد و مدارک مورد نیاز حسب تشخیص
			دیجی‌پی نیز مجری است. انجام هرگونه اقدام مرتبط با سوء استفاده مالی و پول‌شویی یا ایجاد اخلال
			در نظام پولی و بانکی کشور به تشخیص دیجی‌پی، موجب توقف ارائه خدمات به کاربر یا پذیرنده خواهد
			شد. هرگونه اقدام منجر به اختلال در جریان نقدینگی به تشخیص دیجی‌پی، حسب مورد موجب محدودسازی یا
			توقف ارائه خدمات به کاربر یا پذیرنده خواهد شد. دیجی‌پی تنها ملزم به پیگیری مشکلات نسخه‌های
			موجود اپلیکیشن در بازارهای شناخته شده همچونGoogle play»» ، «کافه‌بازار»، «مایکت»، «چارخونه»،
			«سیبچه»، «سیب ایرانی»، «هوآوی»، «اپ استور»، «سیب بانک» و «سیب اپ» است. در صوررت افزوده شدن
			موارد، این فهرست در صفحه دانلود اپلیکیشن دیجی‌پی به روزرسانی می‌شود. دیجی‌پی در مقابل
			خسارت‌های احتمالی ناشی از افشای اطلاعات کاربر که در اثر محافظت نکردن و سهل انگاری شخصی یا سرقت
			و مفقود شدن تلفن همراه رخ دهد هیچگونه مسئولیتی ندارد. کاربر موظف است در صورت مفقود شدن یا سرقت
			تلفن همراه، مراتب را به بانک مورد نظر اطلاع دهد تا حساب معرفی شده در دیجی‌پی مسدود شود. کاربر
			به دیجی‌پی اجازه و اختیار می‌دهد در صورت عدم ایفای تعهدات مالی یا تأخیر وی، نام و مشخصات کاربر
			را در لیست مشتریان بد حساب درج کرده، از ارائه خدمات به وی خودداری نماید و حسب مورد مطالبات
			کاربر نزد پذیرنده‌ها یا کالاهای کاربر که نزد پذیرنده است را توقیف نماید. همچنین دیجی‌پی
			می‌تواند نام و مشخصات کاربر را به هریک از مراجع قانونی و قضایی اعم از بانک مرکزی و نهادهای
			اعتبار‌سنجی و همچنین سایر فعالان حوزه لندتک اعلام و حسب مورد فهرست مشتریان بدحساب را جهت اعمال
			محدودیت یا مسدودی ارائه خدمات از سایر لندتک‌ها دریافت کند. بدیهی است کاربر آگاه است که این امر
			در کاهش رتبه اعتباری کاربر در نظام اعتبارسنجی و ایجاد محدودیت‌های متعاقب آن تأثیر خواهد داشت.
			علاوه بر این، دیجی‌پی مختار است در صورت تخطی کاربر از قوانین و مقررات، تأخیر در پرداخت یا عدم
			پرداخت اقساط و بدهی توسط کاربر و مواردی از این قبیل، حسب تشخیص خود نسبت به محدودسازی یا تعلیق
			موقت یا دائم حساب کاربری اقدام نماید. دیجی‌پی، با حفظ پیمان رازداری و شرایط محرمانگی و تنها
			برای مواردی از قبیل برقراری امنیت اطلاعات و ارتقاء آن و بهبود کیفیت سرویس‌ها و تجربه کاربری و
			نظایر آن، برخی از داده‌ها و اطلاعات را ذخیره می‌کند. با توجه به الزامات قانونی بانک مرکزی در
			فرایند کارت به کارت، شماره موبایل کاربر در اختیار بانک انجام دهنده انتقال وجه (بانک مبدأ) قرار
			می‌گیرد. در صورت رعایت نکردن مقررات و شرایط عمومی و اختصاصی استفاده از دیجی‌پی و همچنین
			استفاده غیر مجاز از سوی کاربر، دیجی‌پی حق دارد که ارائه خدمات به کابر یا پذیرنده را حسب مورد
			محدود، تعلیق، مسدود یا متوقف کند. چنانچه به دلیل قصور یا تقصیر کاربر، ادعایی علیه دیجی‌پی مطرح
			شود یا هرگونه خسارتی به دیجی‌پی وارد آید، این شرکت حق پیگرد قانونی از مراجع ذی‌صلاح را برای
			خود محفوظ می‌داند. داده‌های کاربران دیجی‌پی حفاظت از حریم خصوصی و داده‌های کاربر را سرلوحه
			فعالیت‌های خود قرار داده است. کاربر نیز با استفاده از سایت و یا اپلیکیشن دیجی‌پی موافقت بی قید
			و شرط خود را به نسبت به اینکه دیجی‌پی داده‌های مربوط به کاربر یا ناشی از فعالیت وی در پلتفرم
			دیجی‌پی یا پذیرندگان را به منظور مواردی از قبیل تأیید یا بهبود برخی خدمات و توسعه پلتفرم
			استفاده و پردازش نماید، اعلام می‌دارد. استفاده از اپلیکیشن دیجی‌پی نیازمند تایید دسترسی کاربر
			به برخی موارد است که کاربر در فرآیند نصب و استفاده دسترسی مورد نیاز را اعطاء می‌نماید. کاربر
			این اجازه را به دیجی‌پی می‌دهد تا در مواقع لزوم نسبت به برقراری تماس یا ارسال پیام با وی از
			طریق تماس تلفنی، پیامک، ارسال ایمیل و سایر راه‌های ارتباطی ممکن، اقدام نماید که می‌تواند مشتمل
			بر تماس‌ها و پیام‌های تبلیغاتی، خدماتی و مانند آن باشد. دیجی‌پی متعهد می‌گردد به‌جزموارد مندرج
			در این بخش و مقامات ذیصلاح قانونی و موارد مندرج در این سند، اطلاعات و داده‌های کاربر را در
			اختیار هیچ شخص حقیقی یا حقوقی دیگری قرار نمی‌دهد. دیجی‌پی متعهد است در جهت حفاظت از داده‌های
			مذکور در مواد فوق الذکر و همچنین حریم خصوصی کاربر تلاش‌های فنی لازم را در حد توان خود انجام
			دهد. دارایی‌های فکری کلیه حقوق مادی و معنوی ثبت شده و ثبت نشده دیجی‌پی، شامل و نه محدود به
			علائم تجاری، اجزای فنی اپلیکیشن، رابط کاربری، رابط بصری، طرح‌های گرافیکی و جزییات هویت برند
			دیجی‌پی و حق هرگونه استفاده و بهره‌برداری انحصاری از آن متعلق به شرکت نوآوران پرداخت مجازی
			ایرانیان (سهامی خاص) به شماره ثبت ۵۲۷۸۰۳ است که علامت تجاری دیجی‌پی را به دو زبان فارسی و
			انگلیسی به ثبت رسانده و کاربر مجاز به استفاده از آن‌ها برای کاربردهای شخصی نخواهد بود. هرگونه
			کپی‌برداری، استفاده غیرمجاز از نام، مطالب، مستندات و علائم تجاری دیجی‌پی بدون مجوز کتبی این
			شرکت و سعی در نفوذ به داده‌های دیجی‌پی، مطابق کلیه قوانین جاری کشور، غیرمجاز تلقی شده و
			دیجی‌پی حق پیگرد قانونی از طریق مراجع ذی‌صلاح را برای خود محفوظ می‌دارد. دیجی‌پی متعهد به
			رعایت کلیه قوانین و مقررات لازم الاجرای کشور از قبیل قانون حمایت حقوق مؤلفان و مصنفان و
			هنرمندان مصوب11/10/1348، قانون جرایم رایانه‌ای مصوب 05/۰۳/1388، قانون تجارت الکترونیکی مصوب
			17/10/1382 و قانون حمایت از مالکیت صنعتی مصوب 01/03/1403 است. بنابراین کلیه موضوعات مشکوک و
			اطلاعات مربوط به اشخاص مظنون به سوء استفاده از دیجی‌پی و یا نقض قانون را حسب مورد و طبق قانون
			به مقامات انتظامی و قضائی جهت رسیدگی‌ و اعمال اقدامات قانونی لازم، اعلام می‌نماید. حل و فصل
			اختلافات کلیه اختلافات و دعاوی ناشی از این قرارداد و یا مرتبط با آن از جمله انعقاد، اعتبار،
			فسخ، نقض، تفسیر یا اجرای آن به مرکز داوری اتاق ایران ارجاع می‌گردد که مطابق با قواعد داوری
			مرکز داوری اتاق ایران به صورت قطعی و لازم الاجرا حل‌ و فصل گردد. این شرط داوری، موافقتنامه‌ای
			مستقل از قرارداد اصلی تلقی می‌شود و در هر حال لازم ‌الاجرا است. سایر موارد دیجی‌پی در حال
			گسترش سرویس عوارض آزادراهی خود است و این سرویس هنوز برخی از آزادراه‌های کشور را تحت پوشش خود
			ندارد. بنابراین دیجی‌پی تنها قادر به تحت پوشش قرار دادن پرداخت عوارض آزادراهی مربوط به
			آزادراه‌هایی است که در اپلیکیشن و تار نمای آن اطلاع رسانی می‌شود و اگر کاربر در محدوده دیگری
			تردد داشته باشد، بدهی عوارض آزادراهی وی از طریق دیجی پی قابل استعلام و تسویه نخواهد بود.
			آزادراه‌های تحت پوشش طی زمان قابل کاهش یا افزایش است و کاربر در زمان استفاده باید به فهرست
			آزادراه‌های تحت پوشش دقت نماید. چنانچه دیجی‌پی بنا به ضرورت و صلاحدید، تصمیم بگیرد تغییری در
			مفاد توافق‌نامه‌ یا تعرفهی خود با کاربران ایجاد کند، موظف است کاربران خود را از اعمال تغییرات
			مطلع سازد. در صورتی‌که این تغییرات احتمالی، از جانب سازمان‌های ذی‌صلاحِ قانون‌گذار و به صورت
			لحظه‌ای اعمال شود، دیجی‌پی همچنان خود را در خصوص اطلاع‌رسانی و شفاف‌سازی این مساله به کاربران
			خود، متعهد و موظف می‌داند. با توجه به اینکه نمایش متن حاضر به منزله ایجاب دیجی‌پی است، تایید و
			پذیرش تعهدات و شرایط استفاده حاضر از سوی کاربر یا پذیرنده به منزله قبول قوانین و مقررات در متن
			حاضر و همچنین تأیید الکترونیکی قراردادهای مرتبط و پیوست در لینک‌ها و تعهدات ذیل متن حاضر بوده
			و این مقررات و تعهدات، به منظور ارائه هرگونه خدمات قابل دریافت از طریق نرم‌افزار و پلتفرم‌ و
			وب سایت دیجی‌پی مورد قبول قرار گرفته است. کاربران می‌توانند ۷ روز هفته، از ساعت ۸ تا ۲۴ از
			طریق پست الکترونیک support&#64;mydigipay.com و یا شماره تلفن 02153924000 با دیجی‌پی در تماس
			باشند. کاربر اعلام و اقرار می‌کند کلیه مقررات و شروط مندرج در شرایط عمومی استفاده از خدمات
			پرداخت دیجی‌پی را مطالعه نموده و نسبت به پذیرش مفاد آن ملتزم گردیده و این مقررات و تعهدات، به
			منظور ارائه هرگونه خدمات قابل دریافت از طریق نرم‌افزارها و پلتفرم‌ها و وب سایت دیجی‌پی مورد
			قبول کاربر قرار گرفته است. سایر پیوست‌ها و لینک‌های متن حاضر و نیز حسب مورد مقررات و شرایط
			قراردادها با کاربر در این قرارداد نیز لازم الاجرا خواهد بود. تداوم استفاده کاربر از پلتفرم یا
			خدمات دیجی‌پی نیز صرف نظر از دلایل دیگر، به معنی پذیرش و التزام به تعهدات متن حاضر و الحاقات و
			اصلاحات به‌روز (روزآمد) آن است. دیجی‌پی می‌تواند شرایط و نحوه استفاده را به‌روزرسانی نماید. در
			صورت به‌روزرسانی، استمرار استفاده کاربر یا پذیرنده یا عدم درخواست رسمی مسدودی حساب کاربری از
			سوی کاربر یا پذیرنده بلافاصله پس از بروزرسانی، به معنی پذیرش تغییرات از سوی کاربر یا پذیرنده
			است.
		</p>
	</div>
</div>
