@media screen and (width >= 1200px) {
      .swiper-slide {
        width: 800px !important;

        img {
          width: auto !important;
        }
      }

      swiper-container {
        width: 800px !important;
      }

      app-custom-swiper {
        display: block;
        width: 910px !important;
      }

      .swiper-initialized {
        width: 800px !important;
      }
  }
