<div class="services-carousel">
  <app-custom-swiper
    #swiperRef
    pagination="false"
    [config]="SwiperConfig"
    [startIndex]="1"
    [slides]="slider?.data ?? []"
  >
    <ng-template #swiperSlideTemplate let-index="index">
      <app-carousel-services-item
        [src]="slider?.item(index)?.src ?? ''"
        [alt]="slider?.item(index)?.imageAlt"
        [title]="slider?.item(index)?.title"
        [description]="slider?.item(index)?.description"
        [brand]="slider?.item(index)?.brand"
        [link]="slider?.item(index)?.link"
        [className]="slider?.item(index)?.class"
        [styleAttr]="slider?.item(index)?.style"
      ></app-carousel-services-item>
    </ng-template>
  </app-custom-swiper>
</div>
