.services-carousel {
  .swiper-slide {
    width: 180px !important;
  }

  swiper-container {
    width: 180px !important;
  }

  app-custom-swiper {
    display: block;
    width: 100% !important;
  }

  .swiper-initialized {
    width: 180px !important;
  }
}
