.story-background-base {
  height: 540px;
  width: 100%;
  background-repeat: no-repeat, no-repeat;
  background-position: bottom, bottom;
  background-size: contain, cover;
  background-blend-mode: multiply;
  position: relative;

  div.content {
    position: absolute;
    top: 50px;
    right: 0;
    left: 0;
    bottom: 0;

    h1 {
      text-align: center;
    }

    p {
      width: 285px;

    }

    figure {
      img {
        width: 250px;
        height: 250px;
        position: absolute;
        left: 50%;
        top: 60px;

      }
    }
  }
}

.slide-image.animation {
  animation: zoomIn 0.5s ease-out;
  will-change: transform, opacity;
  backface-visibility: hidden;
  transform: translateX(-50%) scale(1) translateZ(0);
}

@keyframes zoomIn {
  0% {
    transform: translateX(-50%) scale(0);
    opacity: 0;
  }
  to {
    transform: translateX(-50%) scale(1);
    opacity: 1;
  }
}