.square-banner {
  .swiper-slide {
      width: 320px !important;
      height: 248px !important;
  }

  swiper-container {
      width: 320px !important;
      height: 248px !important;
  }

  app-custom-swiper {
      display: block;
      width: 320px !important;
      height: 248px !important;
  }

  .swiper-initialized {
      width: 320px !important;
      height: 248px !important;
  }
}