.square-banner {
	.swiper-slide {
		width: 320px;
		height: 248px;
	}

	swiper-container {
		width: 320px;
		height: 248px;
	}

	app-custom-swiper {
		display: block;
		width: 320px;
		height: 248px;
	}

	.swiper-initialized {
		width: 320px;
		height: 248px;
	}
}
