
<app-custom-swiper
[config]="SwiperConfig"
[startIndex]="1"
[slides]="slider.data"
pagination="true"   

#swiperRef>
<ng-template #swiperSlideTemplate let-index="index" >
  <app-home-carousel-item
    [src]="slider.item(index)?.image"
    [alt]="slider.item(index)?.imageAlt"
    [title]="slider.item(index)?.title"
    [description]="slider.item(index)?.description"
    [brand]="slider.item(index)?.brand"
    [link]="slider.item(index)?.link"
  ></app-home-carousel-item>
</ng-template>
</app-custom-swiper>
