<!-- <div class="carousel-story">
  <app-custom-swiper
    [config]="SwiperConfig"
    [startIndex]="1"
    [slides]="slider?.data ?? []"
    pagination="false"
    #swiperRef
  >
    <ng-template #swiperSlideTemplate let-index="index">
      <app-carousel-story-item
        [src]="slider?.item(index)?.src"
        [alt]="slider?.item(index)?.imageAlt"
        [title]="slider?.item(index)?.title"
        [description]="slider?.item(index)?.description"
        [brand]="slider?.item(index)?.brand"
        [link]="slider?.item(index)?.link"
        [class]="slider?.item(index)?.class"
        [style]="slider?.item(index)?.style"
      ></app-carousel-story-item>
    </ng-template>
  </app-custom-swiper>
  <div class="progress-container">
    @for (item of slider?.data; track item; let i = $index) {
      <div class="progress-bar" [class.active]="i === activeIndex">
        <div
          class="progress-fill"
          [style.width.%]="i === activeIndex ? progress * 100 : i < activeIndex ? 100 : 0"
        ></div>
      </div>
    }
  </div>
</div>
<div class="fade"></div>
 -->

<div class="carousel-story">
  <app-custom-swiper
    [config]="SwiperConfig"
    [startIndex]="1"
    [slides]="slider?.data ?? []"
    pagination="false"
    #swiperRef
  >
    <ng-template #swiperSlideTemplate let-index="index">
      <app-carousel-story-item
        [src]="slider?.item(index)?.src"
        [alt]="slider?.item(index)?.imageAlt"
        [title]="slider?.item(index)?.title"
        [description]="slider?.item(index)?.description"
        [brand]="slider?.item(index)?.brand"
        [link]="slider?.item(index)?.link"
        [className]="slider?.item(index)?.class"
        [styleAttr]="slider?.item(index)?.style"
        [isActive]="index === activeIndex"
      ></app-carousel-story-item>
    </ng-template>
  </app-custom-swiper>

  <div class="progress-container">
    @for (item of slider?.data; track item; let i = $index) {
      <div class="progress-bar" [class.active]="i === activeIndex">
        <div
          class="progress-fill"
          [style.width.%]="i === activeIndex ? progress * 100 : i < activeIndex ? 100 : 0"
        ></div>
      </div>
    }
  </div>
</div>
<div class="fade"></div>
