<div class="two-row-slide d-flex flex-column align-items-center gap-20px">
	<div class="row-up d-flex">
		<app-services-item
			[linkValue]="rowUp.link"
			[titleValue]="rowUp.title"
			[iconValue]="rowUp.icon"
			[colorIconValue]="rowUp.colorIcon"
			[srcValue]="rowUp.src"
		></app-services-item>
	</div>
	<div class="row-down d-flex">
		<app-services-item
			[linkValue]="rowDown.link"
			[titleValue]="rowDown.title"
			[iconValue]="rowDown.icon"
			[colorIconValue]="rowDown.colorIcon"
			[srcValue]="rowDown.src"
		></app-services-item>
	</div>
</div>
