:host ::ng-deep .swiper-slide {

    width: 320px !important;
    height: 248px !important;
}
:host ::ng-deep swiper-container{
    width: 320px !important;
    height: 248px !important;

}
:host ::ng-deep app-custom-swiper{
    display: block;
    width: 320px !important;
    height: 248px !important;

}