@if (isMobile && isSearchOpen) {
<span class="d-flex align-items-center lh-1">
	<i class="icon icon-arrow-right-linear fs-24px"></i>
	<span class="fs-16px fw-600">جستجو</span>
</span>
}

<div class="search-box-container">
	<form action="">
		<i class="icon icon-search-linear"></i>
		<input
			type="search"
			name="search-box"
			class="search-box"
			placeholder="جست‌وجو در خدمات، فروشگاه‌ها، محصولات"
			id="search-box"
			(click)="opanResults()"
		/>
	</form>

	@if (isDesktop && isSearchOpen) {
	<div id="results" class="d-flex gap-25px flex-column">
		<div class="pt-10px">
			<span class="text-dark fs-xs fw-600">همین‌ حالا، پرطرفدارترین‌ها</span>
			<div class="d-flex align-items-center justify-content-start flex-wrap gap-5px">
				<a href="" class="pill">
					<span>موبایل</span>
				</a>
				<a href="" class="pill">
					<span>موبایل</span>
				</a>
				<a href="" class="pill">
					<span>لپ‌تاپ</span>
				</a>
				<a href="" class="pill">
					<span>هنذفری</span>
				</a>
				<a href="" class="pill">
					<span>سرخ‌کن</span>
				</a>
				<a href="" class="pill">
					<span>ماشین لباسشویی</span>
				</a>
				<a href="" class="pill">
					<span>سامسونگ</span>
				</a>
			</div>
		</div>

		<div>
			<span class="text-dark fs-xs fw-600">خدمات پیشنهادی</span>
			<div class="d-flex align-items-start justify-content-center flex-column gap-30px">
				<a href="" class="d-flex align-items-center gap-10px">
					<i class="icon icon-card-to-card-bold fs-24px lh-0px blueGradient"></i>
					<span class="fs-xs">کارت به کارت</span>
				</a>
				<a href="" class="d-flex align-items-center gap-10px">
					<i class="icon icon-simcard-bold fs-24px lh-0px yellowGradient"></i>
					<span class="fs-xs">خرید شارژ</span>
				</a>
				<a href="" class="d-flex align-items-center gap-10px">
					<i class="icon icon-credit-bold fs-24px lh-0px purpleGradient"></i>
					<span class="fs-xs">وام</span>
				</a>
				<a href="" class="d-flex align-items-center gap-10px">
					<i class="icon icon-network-bold fs-24px lh-0px yellowGradient"></i>
					<span class="fs-xs">بسته اینترنت</span>
				</a>
				<a href="" class="d-flex align-items-center gap-10px">
					<i class="icon icon-charity-2-bold fs-24px lh-0px greenGradient"></i>
					<span class="fs-xs">خیریه</span>
				</a>
			</div>
		</div>

		<div class="stores">
			<span class="text-dark fs-xs fw-600">فروشگاه‌های محبوب</span>
			<div class="d-flex align-items-start justify-content-center flex-column gap-10px">
				<a href="" class="d-flex align-items-center gap-10px w-100">
					<figure>
						<img src="assets/images/stores/jet.svg" alt="" width="24" height="24" />
					</figure>
					<span class="fs-xs">دیجی کالا جت</span>
				</a>
				<a href="" class="d-flex align-items-center gap-10px w-100">
					<figure>
						<img src="assets/images/stores/jajiga.svg" alt="" width="24" height="24" />
					</figure>
					<span class="fs-xs">جاجیگا</span>
				</a>
				<a href="" class="d-flex align-items-center gap-10px w-100">
					<figure>
						<img src="assets/images/stores/shila.svg" alt="" width="24" height="24" />
					</figure>
					<span class="fs-xs">شیلا</span>
				</a>
				<a href="" class="d-flex align-items-center gap-10px w-100">
					<figure>
						<img src="assets/images/stores/goshi-shop.svg" alt="" width="24" height="24" />
					</figure>
					<span class="fs-xs">گوشی شاپ</span>
				</a>
				<a href="" class="d-flex align-items-center gap-10px w-100">
					<figure>
						<img src="assets/images/stores/eli-ghasht.webp" alt="" width="24" height="24" />
					</figure>
					<span class="fs-xs">الی گشت</span>
				</a>
				<a href="" class="d-flex align-items-center gap-10px w-100">
					<figure>
						<img src="assets/images/stores/tapsi-shop.svg" alt="" width="24" height="24" />
					</figure>
					<span class="fs-xs">تپسی شاپ</span>
				</a>
				<a href="" class="d-flex align-items-center gap-10px w-100">
					<figure>
						<img src="assets/images/stores/golha.webp" alt="" width="24" height="24" />
					</figure>
					<span class="fs-xs">گلها</span>
				</a>
				<a href="" class="d-flex align-items-center gap-10px w-100">
					<figure>
						<img src="assets/images/stores/darokadeh.svg" alt="" width="24" height="24" />
					</figure>
					<span class="fs-xs">داروکده</span>
				</a>
				<a href="" class="d-flex align-items-center gap-10px w-100">
					<figure>
						<img src="assets/images/stores/myajil.svg" alt="" width="24" height="24" />
					</figure>
					<span class="fs-xs">مای آجیل</span>
				</a>
				<a href="" class="d-flex align-items-center gap-10px w-100">
					<figure>
						<img src="assets/images/stores/mobile140.svg" alt="" width="24" height="24" />
					</figure>
					<span class="fs-xs">موبایل 140</span>
				</a>
			</div>
		</div>
		<div class="categories">
			<span class="text-dark fs-xs fw-600">دسته‌بندی‌ها</span>
			<div class="d-flex align-items-start justify-content-start flex-row flex-wrap gap-15px">
				<a href="" class="d-flex align-items-center gap-10px">
					<figure class="d-flex align-items-center">
						<img src="assets/images/categories/macbook.png" alt="" width="64" height="64" />
						<span class="fs-xs fw-500">کالای دیجیتال</span>
					</figure>
				</a>
				<a href="" class="d-flex align-items-center gap-10px">
					<figure class="d-flex align-items-center">
						<img src="assets/images/categories/washing-machine.png" alt="" width="64" height="64" />
						<span class="fs-xs fw-500">خانه و آشپزخانه</span>
					</figure>
				</a>
				<a href="" class="d-flex align-items-center gap-10px">
					<figure class="d-flex align-items-center">
						<img src="assets/images/categories/fashion.png" alt="" width="64" height="64" />
						<span class="fs-xs fw-500">مد و پوشاک</span>
					</figure>
				</a>
				<a href="" class="d-flex align-items-center gap-10px">
					<figure class="d-flex align-items-center">
						<img src="assets/images/categories/ring.png" alt="" width="64" height="64" />
						<span class="fs-xs fw-500">زیورآلات و سکه</span>
					</figure>
				</a>
				<a href="" class="d-flex align-items-center gap-10px">
					<figure class="d-flex align-items-center">
						<img src="assets/images/categories/travel.png" alt="" width="64" height="64" />
						<span class="fs-xs fw-500">سفر و گردشگری</span>
					</figure>
				</a>
				<a href="" class="d-flex align-items-center gap-10px">
					<figure class="d-flex align-items-center">
						<img src="assets/images/categories/dart.png" alt="" width="64" height="64" />
						<span class="fs-xs fw-500">تفریح و سرگرمی</span>
					</figure>
				</a>
				<a href="" class="d-flex align-items-center gap-10px">
					<figure class="d-flex align-items-center">
						<img src="assets/images/categories/flower.png" alt="" width="64" height="64" />
						<span class="fs-xs fw-500">زیبایی و بهداشت</span>
					</figure>
				</a>
				<a href="" class="d-flex align-items-center gap-10px">
					<figure class="d-flex align-items-center">
						<img src="assets/images/categories/books.png" alt="" width="64" height="64" />
						<span class="fs-xs fw-500">کتاب و لوازم تحریر</span>
					</figure>
				</a>
				<a href="" class="d-flex align-items-center gap-10px">
					<figure class="d-flex align-items-center">
						<img src="assets/images/categories/learning.png" alt="" width="64" height="64" />
						<span class="fs-xs fw-500">دوره‌های آموزشی</span>
					</figure>
				</a>
				<a href="" class="d-flex align-items-center gap-10px">
					<figure class="d-flex align-items-center">
						<img src="assets/images/categories/bread.png" alt="" width="64" height="64" />
						<span class="fs-xs fw-500">کالای مصرفی خانوار</span>
					</figure>
				</a>
				<a href="" class="d-flex align-items-center gap-10px">
					<figure class="d-flex align-items-center">
						<img src="assets/images/categories/vehicle.png" alt="" width="64" height="64" />
						<span class="fs-xs fw-500">خودرو و موتورسیکلت</span>
					</figure>
				</a>
				<a href="" class="d-flex align-items-center gap-10px">
					<figure class="d-flex align-items-center">
						<img src="assets/images/categories/birthday-stuff.png" alt="" width="64" height="64" />
						<span class="fs-xs fw-500">هدیه و لوازم تولد</span>
					</figure>
				</a>
				<a href="" class="d-flex align-items-center gap-10px">
					<figure class="d-flex align-items-center">
						<img src="assets/images/categories/kids-stuff.png" alt="" width="64" height="64" />
						<span class="fs-xs fw-500">لوازم کودک</span>
					</figure>
				</a>
				<a href="" class="d-flex align-items-center gap-10px">
					<figure class="d-flex align-items-center">
						<img src="assets/images/categories/tool.png" alt="" width="64" height="64" />
						<span class="fs-xs fw-500">ابزارآلات و تجهیزات</span>
					</figure>
				</a>
				<a href="" class="d-flex align-items-center gap-10px">
					<figure class="d-flex align-items-center">
						<img src="assets/images/categories/stethoscope.png" alt="" width="64" height="64" />
						<span class="fs-xs fw-500">سلامت و درمان</span>
					</figure>
				</a>
				<a href="" class="d-flex align-items-center gap-10px">
					<figure class="d-flex align-items-center">
						<img src="assets/images/categories/service.png" alt="" width="64" height="64" />
						<span class="fs-xs fw-500">خدمات</span>
					</figure>
				</a>
				<a href="" class="d-flex align-items-center gap-10px">
					<figure class="d-flex align-items-center">
						<img src="assets/images/categories/pet-food.png" alt="" width="64" height="64" />
						<span class="fs-xs fw-500">حیوانات خانگی</span>
					</figure>
				</a>
				<a href="" class="d-flex align-items-center gap-10px">
					<figure class="d-flex align-items-center">
						<img src="assets/images/categories/plants.png" alt="" width="64" height="64" />
						<span class="fs-xs fw-500">گل و گیاه</span>
					</figure>
				</a>
				<a href="" class="d-flex align-items-center gap-10px">
					<figure class="d-flex align-items-center">
						<img src="assets/images/categories/restaurant.png" alt="" width="64" height="64" />
						<span class="fs-xs fw-500">کافه و رستوران</span>
					</figure>
				</a>
				<a href="" class="d-flex align-items-center gap-10px">
					<figure class="d-flex align-items-center">
						<img src="assets/images/categories/camping.png" alt="" width="64" height="64" />
						<span class="fs-xs fw-500">ورزش و کمپینگ</span>
					</figure>
				</a>
				<a href="" class="d-flex align-items-center gap-10px">
					<figure class="d-flex align-items-center">
						<img
							src="assets/images/categories/internet-services.png"
							alt=""
							width="64"
							height="64"
						/>
						<span class="fs-xs fw-500">خدمات اینترنت</span>
					</figure>
				</a>
				<a href="" class="d-flex align-items-center gap-10px">
					<figure class="d-flex align-items-center">
						<img src="assets/images/categories/online-shop.png" alt="" width="64" height="64" />
						<span class="fs-xs fw-500">فروشگاه اینترنتی</span>
					</figure>
				</a>
			</div>
		</div>
	</div>
	} @if (isMobile && isSearchOpen) {
	<div id="results-mobile">
		<div class="pt-10px">
			<span class="text-dark fs-xs fw-600">همین‌ حالا، پرطرفدارترین‌ها</span>
			<div class="d-flex align-items-center justify-content-start flex-wrap gap-5px">
				<a href="" class="pill">
					<span>موبایل</span>
				</a>
				<a href="" class="pill">
					<span>موبایل</span>
				</a>
				<a href="" class="pill">
					<span>لپ‌تاپ</span>
				</a>
				<a href="" class="pill">
					<span>هنذفری</span>
				</a>
				<a href="" class="pill">
					<span>سرخ‌کن</span>
				</a>
				<a href="" class="pill">
					<span>ماشین لباسشویی</span>
				</a>
				<a href="" class="pill">
					<span>سامسونگ</span>
				</a>
			</div>
		</div>

		<div>
			<span class="text-dark fs-xs fw-600">خدمات پیشنهادی</span>
			<div class="d-flex align-items-start justify-content-center flex-column gap-30px">
				<a href="" class="d-flex align-items-center gap-10px">
					<i class="icon icon-card-to-card-bold fs-24px lh-0px blueGradient"></i>
					<span class="fs-xs">کارت به کارت</span>
				</a>
				<a href="" class="d-flex align-items-center gap-10px">
					<i class="icon icon-simcard-bold fs-24px lh-0px yellowGradient"></i>
					<span class="fs-xs">خرید شارژ</span>
				</a>
				<a href="" class="d-flex align-items-center gap-10px">
					<i class="icon icon-credit-bold fs-24px lh-0px purpleGradient"></i>
					<span class="fs-xs">وام</span>
				</a>
				<a href="" class="d-flex align-items-center gap-10px">
					<i class="icon icon-network-bold fs-24px lh-0px yellowGradient"></i>
					<span class="fs-xs">بسته اینترنت</span>
				</a>
				<a href="" class="d-flex align-items-center gap-10px">
					<i class="icon icon-charity-2-bold fs-24px lh-0px greenGradient"></i>
					<span class="fs-xs">خیریه</span>
				</a>
			</div>
		</div>

		<div class="stores">
			<span class="text-dark fs-xs fw-600">فروشگاه‌های محبوب</span>
			<div class="d-flex align-items-start justify-content-center flex-column gap-10px">
				<a href="" class="d-flex align-items-center gap-10px w-100">
					<figure>
						<img src="assets/images/stores/jet.svg" alt="" width="24" height="24" />
					</figure>
					<span class="fs-xs">دیجی کالا جت</span>
				</a>
				<a href="" class="d-flex align-items-center gap-10px w-100">
					<figure>
						<img src="assets/images/stores/jajiga.svg" alt="" width="24" height="24" />
					</figure>
					<span class="fs-xs">جاجیگا</span>
				</a>
				<a href="" class="d-flex align-items-center gap-10px w-100">
					<figure>
						<img src="assets/images/stores/shila.svg" alt="" width="24" height="24" />
					</figure>
					<span class="fs-xs">شیلا</span>
				</a>
				<a href="" class="d-flex align-items-center gap-10px w-100">
					<figure>
						<img src="assets/images/stores/goshi-shop.svg" alt="" width="24" height="24" />
					</figure>
					<span class="fs-xs">گوشی شاپ</span>
				</a>
				<a href="" class="d-flex align-items-center gap-10px w-100">
					<figure>
						<img src="assets/images/stores/eli-ghasht.webp" alt="" width="24" height="24" />
					</figure>
					<span class="fs-xs">الی گشت</span>
				</a>
				<a href="" class="d-flex align-items-center gap-10px w-100">
					<figure>
						<img src="assets/images/stores/tapsi-shop.svg" alt="" width="24" height="24" />
					</figure>
					<span class="fs-xs">تپسی شاپ</span>
				</a>
				<a href="" class="d-flex align-items-center gap-10px w-100">
					<figure>
						<img src="assets/images/stores/golha.webp" alt="" width="24" height="24" />
					</figure>
					<span class="fs-xs">گلها</span>
				</a>
				<a href="" class="d-flex align-items-center gap-10px w-100">
					<figure>
						<img src="assets/images/stores/darokadeh.svg" alt="" width="24" height="24" />
					</figure>
					<span class="fs-xs">داروکده</span>
				</a>
				<a href="" class="d-flex align-items-center gap-10px w-100">
					<figure>
						<img src="assets/images/stores/myajil.svg" alt="" width="24" height="24" />
					</figure>
					<span class="fs-xs">مای آجیل</span>
				</a>
				<a href="" class="d-flex align-items-center gap-10px w-100">
					<figure>
						<img src="assets/images/stores/mobile140.svg" alt="" width="24" height="24" />
					</figure>
					<span class="fs-xs">موبایل 140</span>
				</a>
			</div>
		</div>
		<div class="categories">
			<span class="text-dark fs-xs fw-600">دسته‌بندی‌ها</span>
			<div class="d-flex align-items-start justify-content-start flex-row flex-wrap gap-15px">
				<a href="" class="d-flex align-items-center gap-10px">
					<figure class="d-flex align-items-center">
						<img src="assets/images/categories/macbook.png" alt="" width="64" height="64" />
						<span class="fs-xs fw-500">کالای دیجیتال</span>
					</figure>
				</a>
				<a href="" class="d-flex align-items-center gap-10px">
					<figure class="d-flex align-items-center">
						<img src="assets/images/categories/washing-machine.png" alt="" width="64" height="64" />
						<span class="fs-xs fw-500">خانه و آشپزخانه</span>
					</figure>
				</a>
				<a href="" class="d-flex align-items-center gap-10px">
					<figure class="d-flex align-items-center">
						<img src="assets/images/categories/fashion.png" alt="" width="64" height="64" />
						<span class="fs-xs fw-500">مد و پوشاک</span>
					</figure>
				</a>
				<a href="" class="d-flex align-items-center gap-10px">
					<figure class="d-flex align-items-center">
						<img src="assets/images/categories/ring.png" alt="" width="64" height="64" />
						<span class="fs-xs fw-500">زیورآلات و سکه</span>
					</figure>
				</a>
				<a href="" class="d-flex align-items-center gap-10px">
					<figure class="d-flex align-items-center">
						<img src="assets/images/categories/travel.png" alt="" width="64" height="64" />
						<span class="fs-xs fw-500">سفر و گردشگری</span>
					</figure>
				</a>
				<a href="" class="d-flex align-items-center gap-10px">
					<figure class="d-flex align-items-center">
						<img src="assets/images/categories/dart.png" alt="" width="64" height="64" />
						<span class="fs-xs fw-500">تفریح و سرگرمی</span>
					</figure>
				</a>
				<a href="" class="d-flex align-items-center gap-10px">
					<figure class="d-flex align-items-center">
						<img src="assets/images/categories/flower.png" alt="" width="64" height="64" />
						<span class="fs-xs fw-500">زیبایی و بهداشت</span>
					</figure>
				</a>
				<a href="" class="d-flex align-items-center gap-10px">
					<figure class="d-flex align-items-center">
						<img src="assets/images/categories/books.png" alt="" width="64" height="64" />
						<span class="fs-xs fw-500">کتاب و لوازم تحریر</span>
					</figure>
				</a>
				<a href="" class="d-flex align-items-center gap-10px">
					<figure class="d-flex align-items-center">
						<img src="assets/images/categories/learning.png" alt="" width="64" height="64" />
						<span class="fs-xs fw-500">دوره‌های آموزشی</span>
					</figure>
				</a>
				<a href="" class="d-flex align-items-center gap-10px">
					<figure class="d-flex align-items-center">
						<img src="assets/images/categories/bread.png" alt="" width="64" height="64" />
						<span class="fs-xs fw-500">کالای مصرفی خانوار</span>
					</figure>
				</a>
				<a href="" class="d-flex align-items-center gap-10px">
					<figure class="d-flex align-items-center">
						<img src="assets/images/categories/vehicle.png" alt="" width="64" height="64" />
						<span class="fs-xs fw-500">خودرو و موتورسیکلت</span>
					</figure>
				</a>
				<a href="" class="d-flex align-items-center gap-10px">
					<figure class="d-flex align-items-center">
						<img src="assets/images/categories/birthday-stuff.png" alt="" width="64" height="64" />
						<span class="fs-xs fw-500">هدیه و لوازم تولد</span>
					</figure>
				</a>
				<a href="" class="d-flex align-items-center gap-10px">
					<figure class="d-flex align-items-center">
						<img src="assets/images/categories/kids-stuff.png" alt="" width="64" height="64" />
						<span class="fs-xs fw-500">لوازم کودک</span>
					</figure>
				</a>
				<a href="" class="d-flex align-items-center gap-10px">
					<figure class="d-flex align-items-center">
						<img src="assets/images/categories/tool.png" alt="" width="64" height="64" />
						<span class="fs-xs fw-500">ابزارآلات و تجهیزات</span>
					</figure>
				</a>
				<a href="" class="d-flex align-items-center gap-10px">
					<figure class="d-flex align-items-center">
						<img src="assets/images/categories/stethoscope.png" alt="" width="64" height="64" />
						<span class="fs-xs fw-500">سلامت و درمان</span>
					</figure>
				</a>
				<a href="" class="d-flex align-items-center gap-10px">
					<figure class="d-flex align-items-center">
						<img src="assets/images/categories/service.png" alt="" width="64" height="64" />
						<span class="fs-xs fw-500">خدمات</span>
					</figure>
				</a>
				<a href="" class="d-flex align-items-center gap-10px">
					<figure class="d-flex align-items-center">
						<img src="assets/images/categories/pet-food.png" alt="" width="64" height="64" />
						<span class="fs-xs fw-500">حیوانات خانگی</span>
					</figure>
				</a>
				<a href="" class="d-flex align-items-center gap-10px">
					<figure class="d-flex align-items-center">
						<img src="assets/images/categories/plants.png" alt="" width="64" height="64" />
						<span class="fs-xs fw-500">گل و گیاه</span>
					</figure>
				</a>
				<a href="" class="d-flex align-items-center gap-10px">
					<figure class="d-flex align-items-center">
						<img src="assets/images/categories/restaurant.png" alt="" width="64" height="64" />
						<span class="fs-xs fw-500">کافه و رستوران</span>
					</figure>
				</a>
				<a href="" class="d-flex align-items-center gap-10px">
					<figure class="d-flex align-items-center">
						<img src="assets/images/categories/camping.png" alt="" width="64" height="64" />
						<span class="fs-xs fw-500">ورزش و کمپینگ</span>
					</figure>
				</a>
				<a href="" class="d-flex align-items-center gap-10px">
					<figure class="d-flex align-items-center">
						<img
							src="assets/images/categories/internet-services.png"
							alt=""
							width="64"
							height="64"
						/>
						<span class="fs-xs fw-500">خدمات اینترنت</span>
					</figure>
				</a>
				<a href="" class="d-flex align-items-center gap-10px">
					<figure class="d-flex align-items-center">
						<img src="assets/images/categories/online-shop.png" alt="" width="64" height="64" />
						<span class="fs-xs fw-500">فروشگاه اینترنتی</span>
					</figure>
				</a>
			</div>
		</div>
	</div>
	}
</div>
