.search-box-container {
  position: relative;

  #results {
    position: absolute;
    top: 55px;
    right: 0;
    height: 355px;
    width: 350px;
    z-index: 11;
    background-color: #fff;
    border-radius: 0 0 24px 24px;
    padding: 10px;
  }

  i {
    font-size: 20px;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 17px;
    top: 14px;
    color: #000;
  }

  .search-box {
    border-radius: 48px;
    border: none;
    background-color: #f2f3f6;
    font-size: 12px;
    font-weight: 400;
    line-height: 166%;
    width: 350px;
    height: 48px;
    padding-right: 46px;

    &::placeholder {
      word-spacing: 0;
      font-weight: 400;
    }

    &:focus-visible {
      outline: none;
      border: 1px solid #1159fc;
      background-color: #deedff;
      color: #74777c;

    }
  }
}
