<div class="two-row-slider-wrapper">
	<div #swiperContainer class="swiper-container">
		<div class="swiper-wrapper">
			@for (slide of slides; track slide.id) {
			<div class="swiper-slide">
				<app-two-row-slider-item
					[rowUp]="slide.rowUp"
					[rowDown]="slide.rowDown"
				></app-two-row-slider-item>
			</div>
			}
		</div>
		<!-- Pagination -->
		<div class="swiper-pagination"></div>
		<!-- Navigation buttons -->
		<div class="swiper-button-next"></div>
		<div class="swiper-button-prev"></div>
	</div>
</div>
