<div class="item">
    <div class="contain">
        <a href=""> </a>
        <div>
            <div class="item-icon">
                <figure>
                    <img
                      #figureImg
                      [src]="src"
                      [alt]="alt || title"
                      class="slide-image"
                      loading="eager"
                    />
                    <figcaption>{{title}}</figcaption>
                  </figure>
            </div>
        </div>
    </div>
  </div>
  