<div class="container mt-4">
	<app-tabs [tabs]="tabs" [activeTabId]="activeTabId" (tabChange)="onTabChange($event)"></app-tabs>
	<div class="tab-content mt-3">
		@if (activeTabId === 'online') {
		<div>
			<h3>فروشگاه‌های آنلاین</h3>
			<div class="row my-30px">
				<app-service-item-carousel
					[customConfig]="serviceItemCarousel"
					[itemsList]="paymentList"
				></app-service-item-carousel>
			</div>
			<div class="row my-30px">
				<app-carousel-banner></app-carousel-banner>
			</div>
			<div class="row mt-40px gap-30px">
				<div class="d-flex align-items-center justify-content-between">
					<div class="text-dark fs-14px fw-600">فروشگاه‌های منتخب</div>
					<a href="" class="d-flex align-items-center">
						<span class="text-primary fs-14px">همه</span>
						<i class="icon icon-arrow-2-left-linear w-20px h-20px fs-20px text-primary"></i>
					</a>
				</div>
				<app-two-row-slider [slides]="insuranceSlides" [config]="sliderConfig"></app-two-row-slider>
			</div>
		</div>
		<div class="row">
			<app-incredible-discount-box class="p-0"></app-incredible-discount-box>
		</div>
		@for (section of sections; track section?.id) {
		<div class="row">
			<app-product-section
				class="p-0"
				[category]="section?.category"
				[products]="section?.products"
				[viewAllLink]="section?.link"
			></app-product-section>
		</div>
		} } @if (activeTabId === 'onsite') {
		<div id="lottie-animation" class="my-huge">
			<a href="">
				<img src="assets/images/location.svg" alt="" />
			</a>
		</div>
		<div class="row mt-40px gap-30px">
			<div class="d-flex align-items-center justify-content-between">
				<div class="text-dark fs-14px fw-600">فروشگاه‌های حضوری</div>
				<a href="" class="d-flex align-items-center">
					<span class="text-primary fs-14px">همه</span>
					<i class="icon icon-arrow-2-left-linear w-20px h-20px fs-20px text-primary"></i>
				</a>
			</div>
			<app-two-row-slider [slides]="insuranceSlides" [config]="sliderConfig"></app-two-row-slider>
		</div>
		<div class="row">
			<div class="row my-30px">
				<app-carousel-banner></app-carousel-banner>
			</div>
		</div>
		}
	</div>
</div>
