<div class="about-page">
	<div class="container py-65px">
		<div class="row">
			<div class="intro-section text-center mx-auto p-0">
				<h1 class="fs-50px fw-700 text-primary text-center">دیجی‌پی، پِی روزهای بهتر</h1>
				<div class="subtitle">هر آنچه از یک سوپراپلیکیشن مالی انتظار دارید</div>
				<div class="desc">
					با دیجی‌پی، پرداخت‌ها، خریدهای اعتباری ۱ قسطه و ۴ قسطه، دریافت وام خرید کالا و خدمات، خرید
					اقساطی بیمه، سرمایه‌گذاری و همچنین خدمات روزمره مالی را فقط با چند کلیک انجام دهید.
				</div>
				<div></div>
			</div>
		</div>
	</div>
</div>
