<header class="pb-lg-16px pt-lg-42px container">
  <div class="row align-items-center">
    <div class="col-lg-5 d-flex align-items-center justify-content-between">
      <a href="" class="">
        <img src="assets/images/logo.svg" alt="logo" width="78" height="19" class="me-lg-8px me-0">
      </a>
      <div class=" d-lg-none d-inline-block">

        <button class="hamburger-btn">
          <i class="icon icon-hamburger-menu-linear text-dark"> </i>
        </button>
      </div>

    </div>
    <div class="col-lg-auto d-lg-block d-none p-0">
      <menu class="p-0 ">
        <a href="" class="menu_link">
          <span>
            وام و اعتبار
          </span>
          <div class="submenu">
            <a href="" class="submenu_link">
              <i class="icon icon-credit-linear"></i>
              <span>
                وام خرید کالا
              </span>
            </a>
            <a href="" class="submenu_link">
              <i class="icon icon-bnpl-linear"></i>
              <span>
                الان بخر بعدا پرداخت کن
              </span>
            </a>
            <a href="" class="submenu_link">
              <i>
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <g id="Logo Frame">
                    <path id="Vector"
                      d="M2.21974 11.049C1.86054 10.6139 1.95313 9.96163 2.41409 9.63763L4.02338 8.50735C4.43393 8.21861 4.99081 8.29808 5.31781 8.67949C6.98386 10.6234 9.42233 11.761 11.9999 11.761C14.5777 11.761 17.0162 10.6234 18.6821 8.67949C19.0091 8.29808 19.5659 8.21861 19.9766 8.50735L21.5858 9.63763C22.0469 9.96163 22.1395 10.6139 21.7802 11.049C19.3778 13.9578 15.7937 15.6666 11.9999 15.6666C8.20628 15.6666 4.62226 13.9578 2.21974 11.049Z">
                    </path>
                  </g>
                </svg>
              </i>
              <span>
                خرید اقساطی از دیجی‌کالا
              </span>
            </a>
          </div>
        </a>
        <a href="" class="menu_link">
          <span>
            بیمه
          </span>
          <div class="submenu">
            <a href="" class="submenu_link">
              <i class="icon icon-car-linear"></i>
              <span>بیمه شخص ثالث</span>
            </a>
            <a href="" class="submenu_link">
              <i class="icon icon-digital-device-linear"></i>
              <span>بیمه تجهیزات الکترونیک</span>
            </a>
          </div>
        </a>
        <a href="" class="menu_link">
          <span>
            مدیریت سرمایه
          </span>
        </a>
        <a href="" class="menu_link">
          <span>
            خدمات کسب و کارها
          </span>
          <div class="submenu">
            <a href="" class="submenu_link">
              <i class="icon icon-bank-linear"></i>
              <span>درگاه پرداخت اعتباری</span>
            </a>
            <a href="" class="submenu_link">
              <i class="icon icon-credit-linear"></i>
              <span>وام فروشندگان</span>
            </a>
            <a href="" class="submenu_link">
              <i class="icon icon-bank-linear"></i>
              <span>درگاه پرداخت جامع</span>
            </a>
            <a href="" class="submenu_link">
              <i class="icon icon-cash-out-linear"></i>
              <span>تسویه زودهنگام</span>
            </a>
          </div>
        </a>
        <a href="" class="menu_link">
          <span>
            خدمات سازمانی
          </span>
          <div class="submenu">


            <a href="" class="submenu_link">
              <i>
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <g id="Logo Frame">
                    <path id="Vector"
                      d="M2.21974 11.049C1.86054 10.6139 1.95313 9.96163 2.41409 9.63763L4.02338 8.50735C4.43393 8.21861 4.99081 8.29808 5.31781 8.67949C6.98386 10.6234 9.42233 11.761 11.9999 11.761C14.5777 11.761 17.0162 10.6234 18.6821 8.67949C19.0091 8.29808 19.5659 8.21861 19.9766 8.50735L21.5858 9.63763C22.0469 9.96163 22.1395 10.6139 21.7802 11.049C19.3778 13.9578 15.7937 15.6666 11.9999 15.6666C8.20628 15.6666 4.62226 13.9578 2.21974 11.049Z">
                    </path>
                  </g>
                </svg>
              </i>
              <span>
                خرید اقساطی از دیجی‌کالا
              </span>
            </a>
            <a href="" class="submenu_link">
              <i class="icon icon-bnpl-linear"></i>
              <span>
                الان بخر بعدا پرداخت کن
              </span>
            </a>
          </div>
        </a>
      </menu>
    </div>
    <div class="col-lg-auto d-lg-block d-none p-0">
      <a href="" class="login">
        <img src="assets/icons/person.svg" alt="logo" width="20" height="20">
        <span>
          ورود/ثبت نام
        </span>
      </a>
    </div>

  </div>
  @if(responsive.isMobile()){
  <div class="search-bar">
    <app-search-box></app-search-box>
  </div>
  }
</header>
<nav class="navbar justify-content-start container d-lg-flex d-none">
  <a href="" class="nav-item mx-24px d-flex gap-5px active">
    <span class="icon-container">
      <i class="icon icon-home-bold"></i>
    </span>
    <span>خانه</span>
  </a>
  <a href="" class="nav-item mx-24px d-flex gap-5px">
    <span class="icon-container">
      <i class="icon icon-more-bold"></i>
    </span>
    <span>خدمات</span>
  </a>
  <a href="" class="nav-item mx-24px d-flex gap-5px">
    <span class="icon-container position-relative">
      <i class="icon icon-bag-bold"></i>
      <i class="icon icon-discount-bold position-absolute "></i>
    </span>
    <span>فروشگاه‌ها</span>
  </a>
  <a href="" class="nav-item mx-24px d-flex gap-5px">
    <span class="icon-container">
      <i class="icon icon-card-to-card-bold"></i>
    </span>
    <span>پرداخت</span>
  </a>
  <app-search-box class="me-auto"></app-search-box>
</nav>