<header class="pt-lg-16px">
  <div class="row align-items-center">
    <div class="col-lg-5">
        <a href="">
          <img src="assets/images/logo.svg" alt="logo" width="78" height="19">
        </a>
    </div>
    <div class="col-lg-7 ">
      <menu class="p-0">
        <a href="">
            <span>
                  وام و اعتبار
            </span>
        </a>
        <a href="">
            <span>
                بیمه
            </span>
        </a>
        <a href="">
            <span>
                  مدیریت سرمایه
            </span>
        </a>
        <a href="">
            <span>
                خدمات کسب و کارها
            </span>
        </a>
        <a href="">
            <span>
                  خدمات سازمانی
            </span>
        </a>
        <a href="">
            <span>
                ورود / ثبت نام
            </span>
        </a>
      </menu>
    </div>
  </div>
</header>
