header {
  height: 90px;
  padding-left: 0 !important;

  a.menu_link {
    margin: 0 -2.5px;

    >span {
      font-size: 12px;
      font-weight: 450;
      margin: 0 16px;
    }
  }

  .login {
    margin-right: 29px;

    span {
      font-size: 12px;
      word-spacing: -2.79px;
      font-weight: 450;
    }
  }

  menu {
    position: relative;

    .submenu {
      opacity: 0;
      visibility: hidden;
      position: absolute;
      top: 21px;
      right: -25px;
      background-color: #fff;
      width: 245px;
      text-align: center;
      border-radius: 24px;
      box-shadow: 0px 2px 12px 0px rgba(69, 71, 74, 0.07), -4px 0px 12px 0px rgba(69, 71, 74, 0.07);
      -webkit-backdrop-filter: blur(25px);
      backdrop-filter: blur(25px);
      padding: 20px;
      z-index: 11;
      transition: all 0.2s linear;

      .submenu_link {
        display: flex;
        align-items: center;
        gap: 4px;
        padding: 10px;
        margin: 0;
        font-size: 12px;

        span {
          color: #45474A;
        }

        i {
          color: #1159FC;
          font-size: 24px;
          width: 24px;
          height: 24px;
          display: flex;
          -webkit-background-clip: text !important;
          -webkit-text-fill-color: transparent;
          background: #74777C;

          >svg {
            fill: #74777C
          }
        }
      }

    }

    a.menu_link {
      position: relative;

      &:hover {
        color: #1159FC;

        &::after {
          content: "";
          position: absolute;
          width: 20px;
          height: 2px;
          background: #1159FC;
          bottom: 0;
          left: 38%;
        }

        .submenu {
          opacity: 1;
          visibility: visible;
          transition: all 0.2s linear;

        }
      }

      .submenu_link:hover {
        background-color: #deedff;
        border-radius: 8px;

        i {
          background: #1159FC;
        }

        svg {
          fill: #1159FC
        }

        
        span {
          color: #1159FC;
        }
      }
    }


  }

}

nav {
  background-color: #fff;
  border-radius: 50em;
  display: flex;
  align-items: center;
  padding: 10px 0px 10px 10px !important;
  height: 68px;
}

.active,
.active * {

  color: #1159FC;
}

nav.navbar {
  a.nav-item {
    span:nth-child(2) {
      font-size: 12px;
      line-height: 2;
      font-size: 12px !important;
      font-weight: 450 !important;
      font-variation-settings: "DOTS" 1 !important;
    }
  }
}

.icon-discount-bold {
  color: #F9441F;
  top: -6px;
  right: -11px;
  font-size: 16px;
  width: 16px;
  height: 16px;
  border: 1px solid #fff;
  border-radius: 50em;
}