<div class="login-page">
  <app-carousel-story> </app-carousel-story>
  <div class="container">
    <div class="row">
      <div class="box">
        <div class="phone-number-content">
          <h1 appSkeleton [appSkeleton]="loading()">خوش آمدید!</h1>
          <p>جهت ورود، لطفا شماره موبایل خود را وارد کنید.</p>
          <form action="" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="form-floating mb-3">
              <app-custom-input formControlName="phone" label="شماره موبایل"> </app-custom-input>
            </div>
            <span class="text-center fs-12px">شماره موبایل برای ورود : 09212441074</span>
            <button class="login-btn" type="submit" [disabled]="loginForm.invalid">
              قبول شرایط و ادامه
            </button>
          </form>
          <div class="d-flex flex-row align-items-center justify-content-between link">
            <button data-bs-toggle="modal" (click)="openReferralModal()">
              <span> کد معرف دارید </span>
            </button>
            <button data-bs-toggle="modal" data-bs-target="#rulesModal">
              <span> شرایط استفاده از دیجی پی </span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="modal"
    id="rulesModal"
    tabindex="-1"
    aria-labelledby="rulesModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <button
            type="button"
            class="bg-transparent text-dark"
            data-bs-dismiss="modal"
            aria-label="Close"
          >
            <i class="icon icon-arrow-right-linear text-dark"></i>
          </button>
        </div>
        <div class="modal-body">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis nobis dicta adipisci
            veniam quo harum nulla, fuga perspiciatis architecto aliquam velit reiciendis impedit?
            Perferendis sit illum totam odit natus dolore quasi harum magni pariatur consectetur
            provident, culpa, incidunt quaerat non assumenda deserunt repudiandae! Quia cum error
            earum molestiae neque repudiandae optio vitae autem perferendis commodi at, deleniti
            facere dolore harum ex assumenda dolorum. Doloribus nihil quasi, explicabo cupiditate
            eaque officiis, inventore a sequi magnam blanditiis cumque tempore, enim culpa
            voluptates aut corrupti hic architecto dolorem perspiciatis quae voluptas. Fugiat atque,
            consequuntur, eveniet aliquid ipsa
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Non voluptates repellat nemo in
            iste, modi qui quaerat aliquam rem ad architecto eos inventore amet impedit deleniti
            illo consequuntur at magni a quod, velit fugiat. Quibusdam aliquam accusamus quidem
            delectus dolorem, maiores eos! Nulla vero numquam magnam repudiandae esse ea
            perspiciatis, officiis reprehenderit, eligendi minima debitis veniam iusto vitae alias
            consequatur sunt doloribus eum inventore, hic explicabo. Numquam ea placeat repellendus
            nobis laboriosam itaque tenetur voluptates harum illum beatae eius, quod voluptatem
            consectetur fuga laborum obcaecati veritatis delectus similique ipsa, expedita enim
            soluta. Labore eveniet voluptas illo cumque eius sunt esse tempora molestias maxime
            sapiente nihil deleniti quam sed odio vitae ex, culpa fuga perspiciatis! Sunt quasi qui
            officia quisquam ratione laborum voluptatibus libero recusandae?
          </p>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic consequuntur minima, sed
            deserunt, ab neque rerum dolores ipsum, impedit repudiandae quidem nesciunt quod esse.
            Mollitia facere quidem tempore quos tenetur quo labore, recusandae hic deserunt aut sint
            magnam sed quisquam unde doloribus? Error in est labore ipsam dolor ullam amet ut, illo
            eum accusamus adipisci tempora minus esse fugit debitis! Doloribus voluptate id odio
            amet suscipit incidunt dicta! Molestiae cupiditate eligendi esse voluptatibus sint
            repudiandae, commodi et corporis cumque obcaecati ipsam ducimus consectetur velit
            explicabo placeat rerum deleniti. Veniam sit pariatur repellat ut distinctio quam
            cumque. Est aspernatur quasi commodi architecto eligendi cum porro non eaque facere sint
            asperiores totam odio explicabo, ullam ex enim fugit temporibus voluptate tempore unde
            itaque dolorum molestias alias! Possimus perferendis voluptatum reprehenderit aliquam
            voluptates atque eos, placeat minus temporibus at error, in qui quae debitis, quia
            deserunt expedita? Vitae corporis a enim. Possimus officiis, repellat eligendi eveniet
            exercitationem vitae cum natus labore dolorum ipsa esse illo neque laborum dignissimos.
            Reprehenderit, rerum! Dolorum nisi velit eligendi iste veniam autem blanditiis optio
            totam quo ea? Sed neque sunt error corrupti quibusdam molestias impedit? Dolor molestias
            quis numquam quas dolorum ipsum rerum iusto eos debitis consectetur, aliquid, laboriosam
            in similique iste possimus aut! Officiis, fugit consequatur? Praesentium blanditiis
            quaerat, repudiandae dignissimos maiores doloremque perspiciatis dolores. Eaque, sed
            laborum. Iure unde quis labore sed dolor cupiditate nam, natus eaque ea itaque pariatur.
            Vitae incidunt provident veniam! Odio dolorum earum explicabo illum voluptas eveniet,
            iusto repellat iure accusamus possimus? Explicabo, fugit corporis! Ullam, pariatur
            assumenda velit dolorem perferendis, nihil earum consectetur distinctio magni illum
            omnis cumque aliquid repellendus dolores et tempora, culpa rerum reiciendis, adipisci
            placeat ducimus quod velit, maxime minima.
          </p>
        </div>
        <!-- <div class="modal-footer"></div> -->
      </div>
    </div>
  </div>
  <div
    class="modal"
    id="referralModal"
    tabindex="-1"
    aria-labelledby="referralModalLabel"
    aria-hidden="true"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
  >
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <button
            type="button"
            class="bg-transparent text-dark"
            data-bs-dismiss="modal"
            aria-label="Close"
          >
            <i class="icon icon-arrow-right-linear text-dark"></i>
          </button>
        </div>
        <div class="modal-body p-0">
          <div class="mb-24px">
            <figure>
              <img src="assets/images/referal.svg" alt="referal" width="56" height="56" />
            </figure>
            <span class="enter-code">در صورتیکه کد معرف دارید، وارد کنید.</span>
          </div>
          <form action="" [formGroup]="referralForm" (ngSubmit)="onSubmitReferral()">
            <div class="form-floating mb-3">
              <input
                type="text"
                class="form-control"
                id="referral"
                formControlName="referral"
                placeholder="کد معرف"
              />
              <label for="referral">کد معرف</label>
            </div>
            <div class="d-flex align-items-center justify-content-between gap-16px mt-50px">
              <button class="not-referral-btn w-100" aria-label="Close" data-bs-dismiss="modal">
                <span> ندارم </span>
              </button>
              <button
                class="referral-btn w-100"
                type="submit"
                data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasTop"
                aria-controls="offcanvasTop"
              >
                <span> تایید و ادامه </span>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div
  class="offcanvas offcanvas-top"
  tabindex="-1"
  id="offcanvasTop"
  aria-labelledby="offcanvasTopLabel"
>
  <div class="offcanvas-body text-center d-flex">
    <button type="button" class="error-message" data-bs-dismiss="offcanvas" aria-label="Close">
      کد وارد شده معتبر نیست!
    </button>
  </div>
</div>
