<a href="">
    <div class="product-box">
        <div class="surface-back">
            <figure>
                <img [src]="src" [alt]="alt" [width]="width" [height]="height" title="{{ title }}" [loading]="loading">
            </figure>
            <div class="store-logo">
                <img [src]="storeLogoSrc" alt="arta logo" width="24" height="24" title="" loading="lazy" class="">
            </div>
            <div class="purchase-type">
                <div class="credit">
                    <i class="icon icon-credit-linear"></i>
                </div>
                <div class="bnpl">
                    <i class="icon icon-bnpl-linear"></i>
                </div>
            </div>
        </div>
    </div>
</a>