.product-box {
  width: 155px;
  height: 286px;
  background-color: #fff;
  cursor: pointer;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  transition: background-color ease 0.5s;
  gap: 8px;
  padding: 4px;

  .surface-back {
    background-color: #f2f3f6 !important;
    border-radius: 20px;
    position: relative;

    .product-img {
      img {
        mix-blend-mode: multiply;
        border-radius: 20px;
        object-fit: cover;
      }
    }

    .store-logo {
      img {
        // mix-blend-mode: multiply;
        border-radius: 20px;
        object-fit: cover;
      }
    }

    .store-logo {
      position: absolute;
      top: 5px;
      left: 5px;
      
      background-color: rgba(255, 255, 255, 0.8);
      padding: 1px;
      width: 30px;
      height: auto;
      border: 2px solid #fff;
      display: flex;
      flex-direction: column;
      gap: 2px;
    }

    .store-rate {
      border-radius: 48px;
      background: #eaeff7;
      padding: 4px 2px;
      width: 22px;
      height: 12px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 8px;
    }
  }

  .purchase-type {
    .credit,
    .bnpl {
      display: flex;
      align-items: center;
      gap: 2px;
      background-color: #fff;
      height: 20px;
      border-radius: 50px;
      padding: 4px;
      position: absolute;
      margin-left: 2px;

      i.icon {
        width: 12px;
        height: 12px;
        font-size: 12px;
        color: #74777c;
      }

      span {
        font-size: 10px;
        color: #74777c;
      }
    }

    .credit {
      bottom: 7px;
      right: 5px;
    }

    .bnpl {
      bottom: 7px;
      right: 43px;
    }
  }

  .store-info {
    padding: 0 3px 6px 6px;

    .store-name {
      display: flex;
      align-items: center;
      justify-content: start;
      gap: 2px;
      margin-bottom: 4px;

      i.icon {
        line-height: 1;
      }

      span {
        font-size: 10px;
        color: #74777c;
      }
    }

    .title {
      height: 36px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      text-align: right;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      font-size: 12px;
      margin-bottom: 12px;
    }

    .discount {
      display: flex;
      justify-content: end;
      align-items: center;
      gap: 2px;
      height: 18px;

      span {
        font-size: 10px;
        background-color: #f9441f;
        color: #fff;
        border-radius: 50px;
        padding: 1px 5px;
        text-align: center;
        margin: 0 6px 5px;
      }

      del {
        font-size: 12px;
        color: #74777c;
        font-weight: 500;
      }
    }

    .price {
      display: flex;
      justify-content: end;
      align-items: center;
      gap: 2px;

      span:first-child {
        font-size: 16px;
        font-weight: 600;
      }

      span:last-child {
        font-size: 8px;
        color: #74777c;
      }
    }
  }
}
