<div class="hub-page">
	<div class="hub-header">
		<div class="container">
			<div class="d-flex align-items-center flex-nowrap justify-content-between">
				<div>
					<i class="icon icon-primary icon-scan-linear fs-24px text-white"></i>
				</div>
				<div class="d-flex align-items-center gap-4px">
					<span class="fs-12px fw-800 text-white">موجودی کل</span>
					<span>
						<i class="icon icon-primary icon-eye-linear text-white fs-16px"></i>
					</span>
				</div>
				<div>
					<i class="icon icon-notification-linear icon-primary fs-24px text-white"></i>
				</div>
			</div>
			<div class="d-flex align-items-center justify-content-center gap-6px mt-3">
				<span class="fs-32px text-white">239٬022٬587</span>
				<span class="fs-18px text-white">ریال</span>
			</div>
			<div class="d-flex align-items-center justify-content-center gap-6px mt-1">
				<span class="fs-10px text-white">کیف پول، وام و اعتبار</span>
				<span>
					<i class="icon icon-info-circle-linear icon-primary fs-16px text-white"></i>
				</span>
			</div>
		</div>
	</div>
</div>
