footer {
	min-height: 277px;

	.logo {
		height: 30px;
		margin-bottom: 16px;
	}

	.address {
		display: -webkit-box;
		display: flexbox;
		display: flex;
		-webkit-box-align: start;
		-ms-flex-align: start;
		align-items: start;
		-webkit-box-pack: start;
		-ms-flex-pack: start;
		justify-content: start;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		flex-direction: row;
		font-size: 12px;
		color: #101113;
		margin-bottom: 0;
		font-weight: 300;
	}

	.tell {
		margin-bottom: 60px;
		font-size: 12px;
		font-weight: 300;
		color: #101113;

		a {
			font-weight: 400;
		}
	}

	.footer-links {
		padding-top: 48px;
		display: -webkit-box;
		display: flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		-webkit-box-align: start;
		-ms-flex-align: start;
		align-items: start;
		padding-right: 40px;

		> div,
		ul {
			display: -webkit-box;
			display: flexbox;
			display: flex;
			-webkit-box-align: start;
			-ms-flex-align: start;
			align-items: start;
			-webkit-box-pack: start;
			-ms-flex-pack: start;
			justify-content: start;
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			flex-direction: column;
			gap: 10px;
		}

		h4 {
			font-size: 16px;
			color: #454745;
			margin-bottom: 0;
		}

		ul {
			list-style-type: none;
			padding: 0;
			margin: 0;

			li {
				a {
					span {
						font-size: 12px;
					}
				}
			}
		}
	}
}

hr {
	background-color: #c9cbcf;
	margin: 30px 0;
}

.apps {
	p {
		width: 710px;
		font-weight: 400;
	}

	h4 {
		color: #45474a;
		font-weight: 800;
		font-size: 16px;
	}
}

.application {
	gap: 20px;
	width: 97px;

	a {
		width: 97px;
		height: 30px;
		border: 0.5px solid #000;
		border-radius: 74px;
		background-color: transparent;
		display: -webkit-box;
		display: flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		gap: 6px;

		figure {
			img:last-child {
				margin-right: 6px;
			}
		}
	}
}

.qrcode {
	span {
		color: #45474a;
		font-size: 12px;
		font-weight: 600;
	}

	width: 92px;
}

.logos {
	display: -webkit-box;
	display: flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: end;
	gap: 12px;

	figure {
		border: 0.5px solid #808080ff;
		width: 48px;
		height: 48px;
		border-radius: 12px;
		display: -webkit-box;
		display: flexbox;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;

		img {
			object-fit: contain;
		}
	}
}

.accordion {
	ul {
		list-style: none;
	}

	.accordion-button::after {
		margin-right: auto !important;
		margin-left: unset !important;
	}

	border: none;

	.accordion-item:first-of-type > .accordion-header .accordion-button,
	.accordion-item:first-of-type,
	.accordion-item:last-of-type,
	.accordion-item:last-of-type > .accordion-header .accordion-button.collapsed {
		box-shadow: none !important;
		border: none;
		border-radius: 0 !important;
	}

	.accordion-item {
		border: none;
		background-color: transparent !important;
	}

	background-color: transparent !important;

	.accordion-header {
		background-color: transparent !important;

		.accordion-button:not(.collapsed) {
			box-shadow: none !important;
			background-color: transparent !important;
		}

		.accordion-button {
			background-color: transparent !important;
		}
	}
}
