<footer>
    <div class="container p-0 pt-40px">
        <div class="row">
            <div class="col-lg-5">
                <div class="logo">
                    <figure>
                        <img src="assets/images/logo.svg" alt="" width="82" height="20">
                    </figure>
                </div>
                <div class="address">
                    <span>آدرس:</span>
                    <address>تهران، خیابان ملاصدرا، خیابان شیخ بهایی شمالی، نبش لادن، پلاک ۸۵</address>
                </div>
                <div class="tell">
                    <span>شماره تماس:</span>
                    <a href="" class="fs-xs">
                        <span>02153924000</span>
                    </a>
                </div>
                <div class="d-flex align-items-center justify-content-start gap-25px">
                    <a href="">
                        <figure>
                            <img src="assets/images/instagram-icon.svg" alt="" width="32" height="33">
                        </figure>
                    </a>
                    <a href="">
                        <figure>
                            <img src="assets/images/linkedin-icon.svg" alt="" width="25" height="25">
                        </figure>
                    </a>
                    <a href="">
                        <figure>
                            <img src="assets/images/x-icon.svg" alt="" width="32" height="33">
                        </figure>
                    </a>
                    <a href="">
                        <figure>
                            <img src="assets/images/aparat-icon.svg" alt="" width="32" height="33">
                        </figure>
                    </a>
                </div>
            </div>
            <div class="col-lg-5 footer-links">
                <div class="">
                    <h4>درباره ما</h4>
                    <ul>
                        <li><a href=""><span>درباره دیجی‌پی</span></a></li>
                        <li><a href=""><span>گزارش سالانه</span></a></li>
                        <li><a href=""><span>فرصت‌های شغلی</span></a></li>
                        <li><a href=""><span>مجله اینترنتی دیجی‌پی</span></a></li>
                        <li><a href=""><span>مستندات فنی</span></a></li>
                    </ul>
                </div>
                <div>
                    <h4>خدمات ما</h4>
                    <ul>
                        <li><a href=""><span>خدمات ویژه مالی</span></a></li>
                        <li><a href=""><span>فروشگاه‌ها</span></a></li>
                    </ul>
                </div>
                <div>
                    <h4>خدمات مشتریان</h4>
                    <ul>
                        <li><a href=""><span>سوالات متداول</span></a></li>
                        <li><a href=""><span>قوانین و مقررات</span></a></li>
                        <li><a href=""><span>تماس با ما</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>

<hr>

<div class="container apps">
    <div class="row">
        <div class="col-lg-9 p-0">
            <h4 class="">
                دیجی‌پی، پرداخت باهوش
            </h4>
            <div class="my-15px mx-10px">
                <p class="fs-xs mb-0">
                    دیجی‌پی یک پلتفرم جامع در حوزه خدمات مالی و پرداخت الکترونیک است که با ارائه راهکارهای متنوع، مدیریت
                    مالی را برای کاربران آسان‌تر و هوشمندتر می‌کند. از پرداخت‌های روزمره گرفته تا خرید اقساطی، مدیریت
                    ثروت و بیمه، همه و همه در دیجی‌پی یکجا در دسترس شما هستند.
                </p>
                <a href="" class="fs-xs text-dark">
                    <span>
                        بیشتر...
                    </span>
                </a>
            </div>
        </div>
        <div class="col-lg-3  d-flex gap-20px justify-content-end p-0">
            <div class="d-flex flex-column align-items-center justify-content-center application">
                <a href="">
                    <figure>
                        <img src="assets/images/gp-text.svg" alt="">
                        <img src="assets/images/gp-icon.svg" alt="">
                    </figure>
                </a>
                <a href="">
                    <figure>
                        <img src="assets/images/bazaar-text.svg" alt="">
                        <img src="assets/images/bazaar-icon.svg" alt="">
                    </figure>
                </a>
                <a href="">
                    <figure>
                        <img src="assets/images/dp-text.svg" alt="">
                        <img src="assets/images/dp-icon.svg" alt="">
                    </figure>
                </a>
            </div>
            <div class="d-flex flex-column align-items-center justify-content-start qrcode">
                <span class="text-center">
                    دانلود اپلیکیشن
                </span>
                <figure>
                    <img src="assets/images/qr-code.png" alt="" width="92" height="92" class="mt-12px">
                </figure>
            </div>
        </div>
    </div>
</div>

<hr>

<div class="container pb-30px">
    <div class="row">
        <div class="col-lg-8 p-0 d-flex align-items-end">
            <p class="fs-xs m-0">
                © کلیه حقوق این سایت متعلق به شرکت نوآوران پرداخت مجازی ایرانیان (دیجی‌پی) است.

            </p>
        </div>
        <div class="col-lg-4 p-0 logos">
            <a href="">
                <figure>
                    <img src="assets/images/ics-logo.svg" alt="logo-ics" width="40" height="40">
                </figure>
            </a>
         
            <a href="">
                <figure>
                    <img src="assets/images/ettehadie.svg" alt="ettehadie" width="40" height="40">
                </figure>
            </a>
            <a href="">
                <figure>
                    <img src="assets/images/logo-samandehi.png" alt="samandehi" width="40" height="40">
                </figure>
            </a>
            <a href="">
                <figure>
                    <img src="assets/images/saramad.svg" alt="saramad" width="40" height="40">
                </figure>
            </a>
            <a href="">
                <figure>
                    <img src="assets/images/enamad.png" alt="enamad" width="40" height="40">
                </figure>
            </a>
        </div>
    </div>
</div>