<div class="services-page">
	<div class="container mt-lg-50px">
		<div class="row my-20px">
			<app-carousel-banner></app-carousel-banner>
		</div>
		<div class="row gap-25px">
			<aside class="col-12 col-md-4 d-flex flex-column gap-25px p-0">
				<div class="box">
					<div class="text-center p-4px">
						<img src="assets/images/multi-box-heading-1.webp" width="312" height="88" alt="" />
					</div>
					<div class="d-flex flex-wrap align-items-center p-20px">
						<div class="item">
							<div class="section-icon">
								<span class="icon icon-container">
									<i class="icon icon-money-due"></i>
									<i class="icon icon-money-due-secondary"></i>
								</span>
							</div>
							<div>
								<span class="fs-14px fw-600 mb-6px d-block">وام خرید کالا</span>
								<span class="fs-12px d-block text-onback-low">تا سقف ۱۰۰ میلیون تومان</span>
								<div class="divider"></div>
							</div>
							<div class="me-auto">
								<span class="arrow">
									<i class="icon icon-arrow-left-linear fs-20px text-dark d-flex"></i>
								</span>
							</div>
						</div>

						<div class="item mt-10px">
							<div class="section-icon">
								<span class="icon icon-container">
									<i class="icon icon-money-due"></i>
									<i class="icon icon-money-due-secondary"></i>
								</span>
							</div>
							<div>
								<span class="fs-14px fw-600 mb-6px d-block">وام خرید کالا</span>
								<span class="fs-12px d-block text-onback-low">تا سقف ۱۰۰ میلیون تومان</span>
								<div class="divider"></div>
							</div>
							<div class="me-auto">
								<span class="arrow">
									<i class="icon icon-arrow-left-linear fs-20px text-dark d-flex"></i>
								</span>
							</div>
						</div>

						<div class="item mt-10px">
							<div class="section-icon">
								<span class="icon icon-container">
									<i class="icon icon-money-due"></i>
									<i class="icon icon-money-due-secondary"></i>
								</span>
							</div>
							<div>
								<span class="fs-14px fw-600 mb-6px d-block">وام خرید کالا</span>
								<span class="fs-12px d-block text-onback-low">تا سقف ۱۰۰ میلیون تومان</span>
							</div>
							<div class="me-auto">
								<span class="arrow">
									<i class="icon icon-arrow-left-linear fs-20px text-dark d-flex"></i>
								</span>
							</div>
						</div>
					</div>
				</div>
				<div>
					<app-square-banner></app-square-banner>
				</div>
			</aside>
			<div class="col-12 col-md-8 p-0">
				<div class="insurance-car-wealth">
					<div>
						<h2 class="fs-14px fw-600 text-dark mb-16px">خدمات پرداخت</h2>
						<div class="services-item">
							<app-service-item-carousel
								[customConfig]="serviceItemCarousel"
								[itemsList]="paymentList"
							></app-service-item-carousel>
						</div>
					</div>
					<div>
						<h2 class="fs-14px fw-600 text-dark mb-16px">خدمات موبایل</h2>
						<div class="services-item">
							<app-service-item-carousel
								[customConfig]="serviceItemCarousel"
								[itemsList]="mobileList"
							></app-service-item-carousel>
						</div>
					</div>
					<div>
						<h2 class="fs-14px fw-600 text-dark mb-16px">قبوض خدماتی</h2>
						<div class="services-item">
							<app-service-item-carousel
								class="bill"
								[customConfig]="serviceItemCarousel"
								[itemsList]="bills"
							></app-service-item-carousel>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="flex-row-reverse row mt-20px gap-25px flex-">
			<aside class="col-12 col-md-4 d-flex flex-column gap-25px p-0">
				<div class="box">
					<div class="text-center p-4px">
						<img src="assets/images/multi-box-heading-1.webp" width="312" height="88" alt="" />
					</div>
					<div class="d-flex flex-wrap align-items-center p-20px flex-row-reverse">
						<div class="item">
							<div class="section-icon">
								<span class="icon icon-container">
									<i class="icon icon-money-due"></i>
									<i class="icon icon-money-due-secondary"></i>
								</span>
							</div>
							<div>
								<span class="fs-14px fw-600 mb-6px d-block">وام خرید کالا</span>
								<span class="fs-12px d-block text-onback-low">تا سقف ۱۰۰ میلیون تومان</span>
								<div class="divider"></div>
							</div>
							<div class="me-auto">
								<span class="arrow">
									<i class="icon icon-arrow-left-linear fs-20px text-dark d-flex"></i>
								</span>
							</div>
						</div>

						<div class="item mt-10px">
							<div class="section-icon">
								<span class="icon icon-container">
									<i class="icon icon-money-due"></i>
									<i class="icon icon-money-due-secondary"></i>
								</span>
							</div>
							<div>
								<span class="fs-14px fw-600 mb-6px d-block">وام خرید کالا</span>
								<span class="fs-12px d-block text-onback-low">تا سقف ۱۰۰ میلیون تومان</span>
								<div class="divider"></div>
							</div>
							<div class="me-auto">
								<span class="arrow">
									<i class="icon icon-arrow-left-linear fs-20px text-dark d-flex"></i>
								</span>
							</div>
						</div>

						<div class="item mt-10px">
							<div class="section-icon">
								<span class="icon icon-container">
									<i class="icon icon-money-due"></i>
									<i class="icon icon-money-due-secondary"></i>
								</span>
							</div>
							<div>
								<span class="fs-14px fw-600 mb-6px d-block">وام خرید کالا</span>
								<span class="fs-12px d-block text-onback-low">تا سقف ۱۰۰ میلیون تومان</span>
							</div>
							<div class="me-auto">
								<span class="arrow">
									<i class="icon icon-arrow-left-linear fs-20px text-dark d-flex"></i>
								</span>
							</div>
						</div>
					</div>
				</div>
				<div>
					<app-square-banner></app-square-banner>
				</div>
			</aside>
			<div class="col-12 col-md-8 p-0">
				<div class="insurance-car-wealth">
					<div>
						<h2 class="fs-14px fw-600 text-dark mb-16px">خدمات بیمه</h2>
						<div class="services-item">
							<app-service-item-carousel
								[customConfig]="serviceItemCarousel"
								[itemsList]="insurancesList"
							></app-service-item-carousel>
						</div>
					</div>
					<div>
						<h2 class="fs-14px fw-600 text-dark mb-16px">خدمات خودرو</h2>
						<div class="services-item">
							<app-service-item-carousel
								[customConfig]="serviceItemCarousel"
								[itemsList]="automobiles"
							></app-service-item-carousel>
						</div>
					</div>
					<div>
						<h2 class="fs-14px fw-600 text-dark mb-16px">مدیریت ثروت</h2>
						<div class="services-item">
							<app-service-item-carousel
								[customConfig]="serviceItemCarousel"
								[itemsList]="wealth"
							></app-service-item-carousel>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row my-20px">
			<app-carousel-banner-services class="p-0"></app-carousel-banner-services>
		</div>
		<div class="row my-20px gap-24px charity-downloadApp-section">
			<div class="download-app d-flex align-item-center justify-content-between p-32px">
				<div class="image-download">
					<img src="assets/images/download service app.webp" alt="" width="257" height="259" />
				</div>
				<div class="d-flex flex-column gap-24px content">
					<div class="d-flex flex-column gap-6px">
						<h6 class="fs-18px text-dark fw-500">با دیجی پی، به هیچ اپلیکیشن مالی نیاز نداری</h6>
						<span class="fs-12px">
							از خرید اقساطی و دریافت اعتبار تا خرید بیمه، سرمایه گذاری و پرداخت های روزمره را سریع
							و آسان با دیجی پی انجام دهید.
						</span>
					</div>
					<div class="d-flex gap-20px">
						<div
							class="d-flex flex-lg-column align-items-center justify-content-center application"
						>
							<a href="" aria-label="Google Play Store">
								<figure>
									<img
										ngOptimizedImage
										ngSrc="assets/images/gp-text.svg"
										alt=""
										width="57"
										height="19"
									/>
									<img
										ngOptimizedImage
										ngSrc="assets/images/gp-icon.svg"
										alt=""
										width="17"
										height="19"
									/>
								</figure>
							</a>
							<a href="" aria-label="کافه بازار">
								<figure>
									<img
										ngOptimizedImage
										ngSrc="assets/images/bazaar-text.svg"
										alt=""
										width="53"
										height="18"
									/>
									<img
										ngOptimizedImage
										ngSrc="assets/images/bazaar-icon.svg"
										alt=""
										width="17"
										height="18"
									/>
								</figure>
							</a>
							<a href="" aria-label="وب اپلیکیشن">
								<figure>
									<img
										ngOptimizedImage
										ngSrc="assets/images/dp-text.svg"
										alt=""
										width="47"
										height="20"
									/>
									<img
										ngOptimizedImage
										ngSrc="assets/images/dp-icon.svg"
										alt=""
										width="10"
										height="20"
									/>
								</figure>
							</a>
						</div>
						<div class="d-flex flex-column align-items-center justify-content-center qrcode">
							<figure>
								<img
									ngOptimizedImage
									ngSrc="assets/images/qr-code.png"
									alt="qrcode"
									width="92"
									height="92"
									class="mt-12px"
								/>
							</figure>
						</div>
					</div>
				</div>
			</div>
			<div class="charity p-4px d-flex flex-column gap-16px">
				<div class="position-relative">
					<div class="text-banner">
						<span class="fs-16px fw-bold mb-4px">نیکوکاری</span>
						<span class="fs-14px">در ساختن دنیای بهتر سهیم باش!</span>
					</div>
					<img
						src="assets/images/charity-banner.webp"
						width="522"
						height="92"
						alt=""
						class="object-fit-cover"
					/>
				</div>

				<div class="two-row-slider">
					<app-two-row-slider
						[slides]="insuranceSlides"
						[config]="sliderConfigTwoRow"
					></app-two-row-slider>
				</div>
			</div>
		</div>
	</div>
</div>
