.services-page {
	div.box {
		width: 320px;
		height: 360px;
		background-color: #fff;
		border-radius: 24px;

		.section-icon {
			width: 48px;
			height: 48px;
			background-color: #f2f3f6;
			border-radius: 16px;
			margin-left: 12px;
			text-align: center;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		span.icon-container {
			width: 32px;
			height: 32px;
			font-size: 32px;
		}

		i.icon {
			color: #8643f3;
		}
	}
}

.arrow {
	width: 36px;
	height: 36px;
	background-color: #eaeff7;
	border-radius: 50em;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

.item {
	display: flex;
	flex-basis: 100%;
	align-items: center;
	flex-flow: row wrap;
}

.divider {
	background-color: #f2f3f6;
	width: 150px;
	height: 1px;
	margin-block: 16px;
}

aside {
	width: max-content;
}

.insurance-car-wealth {
	width: 740px;
	height: 632px;
	background: #fff;
	padding: 32px;
	border-radius: 24px;
	display: flex;
	flex-direction: column;
	gap: 40px;

	.services-item {
		width: 100%;
		display: block;
	}

	.services-item-link {
		display: flex;
		flex-direction: column;
		gap: 8px;
		flex-basis: max-content;
		width: max-content;
		text-align: center;
		justify-content: center;
		align-items: center;

		.services-item-logo {
			background: #f2f3f6;
			width: 88px;
			height: 88px;
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 24px;

			.icon-container {
				height: 40px;
				width: 40px;
				font-size: 40px;
				background: linear-gradient(224deg, #0f53ed 11.43%, #94bfff 92.87%);
				background-clip: text !important;
				-webkit-text-fill-color: transparent;
			}
		}
	}
}

.download-app,
.charity {
	width: 530px;
	height: 334px;
	background-color: #fff;
	border-radius: 16px;
}

.charity {
	img {
		border-radius: 16px;
	}

	.text-banner {
		position: absolute;
		top: 15px;
		right: 20px;
		color: #fff;
		display: flex;
		flex-direction: column;
	}
}

::ng-deep .two-row-slider-wrapper {
	.services-item-logo {
		width: 48px !important;
		height: 48px !important;
		border-radius: 16px !important;

		i {
			width: 32px;
			height: 32px;
			font-size: 32px;
			align-items: center;
			justify-content: center;
		}
	}

	.services-item-link span:last-child {
		font-size: 10px !important;
	}

	.swiper-button-prev,
	.swiper-button-next {
		display: none;
	}
}

.application {
	gap: 16px;
	width: 97px;

	a {
		width: 97px;
		height: 30px;
		border: 0.5px solid #000;
		border-radius: 74px;
		background-color: transparent;
		display: -webkit-box;
		display: flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		gap: 6px;

		figure {
			img:last-child {
				margin-right: 6px;
			}
		}
	}
}

.qrcode {
	span {
		color: #45474a;
		font-size: 12px;
		font-weight: 600;
	}

	width: 92px;
}

.download-app {
	div.image-download {
		position: relative;

		img {
			position: absolute;
			bottom: -32px;
			right: -20px;
		}
	}
}

.content {
	width: 250px;
}

::ng-deep {
	.two-row-slider {
		img {
			mix-blend-mode: multiply;
		}
	}

	.bill {
		img {
			border-radius: 24px;
		}
	}
}
