.services-page {
	div.box {
		width: 320px;
		height: 360px;
		background-color: #fff;
		border-radius: 24px;

		.section-icon {
			width: 48px;
			height: 48px;
			background-color: #f2f3f6;
			border-radius: 16px;
			margin-left: 12px;
			text-align: center;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		span.icon-container {
			width: 32px;
			height: 32px;
			font-size: 32px;
		}

		i.icon {
			color: #8643f3;
		}
	}
}

.arrow {
	width: 36px;
	height: 36px;
	background-color: #eaeff7;
	border-radius: 50em;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

.item {
	display: flex;
	flex-basis: 100%;
	align-items: center;
	flex-flow: row wrap;
}

.divider {
	background-color: #f2f3f6;
	width: 150px;
	height: 1px;
	margin-block: 16px;
}

aside {
	width: max-content;
}

.insurance-car-wealth {
	width: 740px;
	height: 632px;
	background: #fff;
	padding: 32px;
	border-radius: 24px;
	display: flex;
	flex-direction: column;
	gap: 40px;

	.services-item {
		display: flex;
		gap: 15px;
	}

	.services-item-link {
		display: flex;
		flex-direction: column;
		gap: 8px;
		flex-basis: max-content;
		width: max-content;
		text-align: center;
		justify-content: center;
		align-items: center;

		.services-item-logo {
			background: #f2f3f6;
			width: 88px;
			height: 88px;
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 24px;

			.icon-container {
				height: 40px;
				width: 40px;
				font-size: 40px;
				background: linear-gradient(224deg, #0f53ed 11.43%, #94bfff 92.87%);
				background-clip: text !important;
				-webkit-text-fill-color: transparent;
			}
		}
	}
}

.download-app,
.charity {
	width: 530px;
	height: 334px;
	background-color: #fff;
	border-radius: 16px;
}
