<div class="container mt-32px">
    <div class="row gap-16px">
        <div class="col-lg-auto p-0">
            <app-home-carousel-wrapper-desktop></app-home-carousel-wrapper-desktop>
        </div>
        <div class="col-lg-3 p-0 d-flex justify-content-center flex-column gap-20px">
            <img src="assets/images/bannersmall.webp" alt="" width="320" height="136">
            <app-square-banner></app-square-banner>
        </div>
    </div>
    <div class="row mt-40px services-section p-0">
        <div class="col-12 d-flex justify-content-between aling-items-center p-0">
            <span class="services-section-title">خدمات دیجی‌پی</span>
            <a href="" class="text-primary services-section-link">
                <span class="text-primary">همه</span>
                <i class="icon icon-arrow-2-left-linear text-primary"></i>
            </a>
        </div>
    </div>
    <div class="row mt-20px mb-40px p-0">
        <app-service-card class="p-0"></app-service-card>
    </div>
    <div class="row mt-40px product-section p-0">
    
    </div>
    <div class="row mt-20px mb-40px p-0">
        <div class="col-12 d-flex justify-content-between aling-items-center p-0">
            <span class="services-section-title">کلید و پریز هوشمند</span>
            <a href="" class="text-primary services-section-link">
                <span class="text-primary">همه</span>
                <i class="icon icon-arrow-2-left-linear text-primary"></i>
            </a>
        </div>
        <app-product-section class="p-0"></app-product-section>
    </div>
</div>