<div class="container py-70px">
    <div class="row">
        <figure class="text-center">
            <img src="assets/images/contact-us/1.webp" alt="تماس با دیجی‌پی" width="90" height="90"
                class="object-fit-contain">
        </figure>
        <h1 class="text-center fw-900 fs-32px">
            تماس با دیجی‌پی
        </h1>
        <p class="text-center fs-20px mb-32px">
            ۷ روز هفته، از ساعت ۸ تا ۲۴، از طریق ایمیل و تماس تلفنی پاسخگوی شما هستیم.
        </p>
    </div>
    <div class="row">
        <div class="box">
            <div class="box_desc">
                <p>
                    لطفا پیش از ارسال ایمیل یا تماس تلفنی، ابتدا صفحات مربوط به هر یک از خدمات دیجی‌پی را مشاهده کنید،
                    درصورتی که پاسخ سوالات خود را پیدا نکردید با ما با شماره تماس 02153924000 در ارتباط باشید. برای خرید
                    اقساطی داخلی ۱، پیگیری تراکنش داخلی ۲، کیف پول داخلی ۳، سرویس‌های اپلیکیشن داخلی ۴، بیمه داخلی ۵،
                    پیشنهادات و انتقادات داخلی ۶، و درصورتی که داخلی مورد نظر خود را می‌دانید عدد ۹ را شماره‌گیری
                    نمایید.</p>
            </div>
            <div class="box_container">
                <div class="items">
                    <app-carousel-services></app-carousel-services>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="map-contain">
    <div class="container ">
        <div class="row justify-content-center align-items-center text-center pt-lg-150px">
            <a href="">
                <span class="fs-16px fw-400">
                    02153924000
                </span>
            </a>
            <p class="fs-28px">
                هفت روز هفته، از ساعت ۸ تا ۲۴ از طریق تماس تلفنی پاسخگوی شما هستیم.

            </p>
            <address>
                تهران، خیابان ملاصدرا، خیابان شیخ بهایی شمالی، نبش لادن، پلاک ۸۵

            </address>
            <a href="mailto:support&#64;mydigipay.com">support&#64;mydigipay.com</a>
        </div>
    </div>
    <div class="map">
        <figure>
            <img src="assets/images/contact-us/digipay-map.webp" alt="">
        </figure>
    </div>
</div>