 <section class="product-section gap-20px mt-32px p-0 d-flex flex-column">
  <div class="heading d-flex justify-content-between aling-items-center p-0">
    <h3 class="text-dark fs-14px fw-600 product-section-title">{{ category }}</h3>
    <a href="" class="text-primary product-section-link">
      <span class="text-primary">همه</span>
      <i class="icon icon-arrow-2-left-linear text-primary"></i>
    </a>
  </div>
  <app-custom-swiper [config]="SwiperConfig" [startIndex]="1" [slides]="slider.data" #swiperRef>
    <ng-template #swiperSlideTemplate let-index="index">
      <app-product-item [src]="slider?.item(index)?.imageSrc" [alt]="slider?.item(index)?.alt"
        [width]="slider?.item(index)?.width" [height]="slider?.item(index)?.height" [title]="slider?.item(index)?.title"
        [loading]="slider?.item(index)?.loading" [storeName]="slider?.item(index)?.storeName"
        [storeLogoSrc]="slider?.item(index)?.storeLogoSrc" [priceNoDiscount]="slider.item(index)?.priceNoDiscount"
        [priceFinal]="slider?.item(index)?.priceFinal" [storeRate]="slider?.item(index)?.storeRate"  [fourPay]="slider?.item(index)?.fourPay!"
        [discountPercentage]="slider?.item(index)?.discountPercentage"></app-product-item>
    </ng-template>
  </app-custom-swiper>
</section>

