.product-section {
    .heading{height: 36px;}

    .product-section-title {
        font-weight: 600;
        font-size: 14px;
        line-height: 2;
    }

    .product-section-link {
        display: flex;
        align-items: center;

        i.icon {
            display: inline-block;
            width: 20px;
            height: 20px;
            font-size: 20px;
            margin-right: 4px;
        }
    }
    
}
