<div class="bottom-navigation">
	<nav class="navbar justify-content-between">
		@for (item of navItems; track $index) {
		<a
			class="nav-item d-flex gap-5px align-items-center flex-column"
			[class.active]="activeRoute === item.routerLink"
			[routerLink]="item.routerLink"
		>
			<span class="icon-container position-relative">
				<i
					[class]="'icon icon-' + getIconName(item)"
					[class.text-dark]="item.linear"
					[class.text-primary]="!item.linear"
				></i>
				@if (item.hasBadge) {
				<i class="icon icon-discount-bold position-absolute"></i>
				}
			</span>

			<span
				class="fs-10px fw-500"
				[class.text-dark]="item.linear"
				[class.text-primary]="!item.linear"
			>
				{{ item.label }}
			</span>
		</a>
		}
	</nav>
</div>
