<div class="bottom-navigation">
    <nav class="navbar justify-content-between  ">
        <a [routerLink]="''" class="nav-item  d-flex gap-5px align-items-center flex-column active">
            <span class="icon-container">
                <i class="icon icon-home-linear  text-dark"></i>
            </span>
            <span class="fs-10px fw-500 text-dark">خانه</span>
        </a>
        <a [routerLink]="RouterLinksPath.servicesPage.services" class="nav-item  d-flex flex-column align-items-center gap-5px">
            <span class="icon-container">
                <i class="icon icon-more-linear text-dark"></i>
            </span>
            <span class="fs-10px fw-500 text-dark">خدمات</span>
        </a>
        <a [routerLink]="RouterLinksPath.shopsPage.shops" class="nav-item  d-flex flex-column align-items-center gap-5px">
            <span class="icon-container position-relative">
                <i class="icon icon-bag-linear  text-dark"></i>
                <i class="icon icon-discount-bold position-absolute "></i>
            </span>
            <span class="fs-10px fw-500 text-dark">فروشگاه‌ها</span>
        </a>
        <a [routerLink]="RouterLinksPath.paymentPage.payment" class="nav-item  d-flex flex-column align-items-center gap-5px">
            <span class="icon-container">
                <i class="icon icon-card-to-card-linear  text-dark"></i>
            </span>
            <span class="fs-10px fw-500 text-dark">پرداخت</span>
        </a>
        <a [routerLink]="RouterLinksPath.loginPage.login" class="nav-item  d-flex flex-column align-items-center gap-5px">
            <span class="icon-container">
                <i class="icon icon-person-linear  text-dark"></i>
            </span>
            <span class="fs-10px fw-500 text-dark">ورود</span>
        </a>
    </nav>
</div>
