<div class="container mt-lg-150px">
  <div class="row px-lg-150px">
    <h1 class="fs-32px fw-bold text-center">سوالات متداول</h1>
    <div>
      <p>
        در صورتی که پاسخ سوال خود را در این صفحه پیدا نکردید، می&zwnj;توانید از طریق فرم تماس و یا
        شماره تلفن&zwnj;های پشتیبانی با ما تماس بگیرید.
      </p>
      <p>کارشناسان ما به صورت ۲۴/۷ آماده پاسخگویی به شما هستند.</p>
      <p>
        شما در این قسمت با وارد کردن مشخصات کامل کارت مبدا و شماره کارت مقصد، به راحتی امکان انتقال
        وجه به روش کارت به کارت را خواهید داشت. بخشی از اطلاعات کارتهای مبدا شما با یک بار وارد کردن
        در سرورهای بانکی ذخیره میشود تا شما هر بار نیاز به وارد کردن تمام اطلاعات نداشته باشید. لیست
        بانک&zwnj;هایی که کارت آن&zwnj;ها به عنوان مبدا در اپلیکیشن دیجی&zwnj;پی پذیرش شده است را در
        بخش کارت به کارت ملاحظه&zwnj; می کنید.
      </p>
      <h2><strong>کارت به کارت</strong></h2>
      <h3><strong>کارت چه بانک&zwnj;هایی پشتیبانی می&zwnj;شود؟</strong></h3>
      <p>
        در حال حاضر لیست بانک هایی که برای کارت به کارت بعنوان کارت مبدا پشتیبانی می شوند را می
        توانید درون اپلیکیشن در مرحله اول فرایند کارت به کارت با لوگوی بانک ها مشاهده کنید. اما اگر
        مبدا شما یکی از این کارت ها باشد، به تمامی بانک ها می توانید عملیات کارت به کارت را انجام
        دهید.
      </p>
      <h3><strong>سقف عملیات کارت به کارت چقدر است؟</strong></h3>
      <p>درحال حاضر سقف هر عملیات تراکنش کارت به کارت ۱ میلیون تومان می باشد.</p>
      <h3><strong>پول از حساب من کسر شد ولی به حساب مقصد واریز نشد.</strong></h3>
      <p>
        معمولا در اینگونه موارد طی ۷۲ ساعت پول برداشت شده به حساب شما برگشت خواهد خورد. درصورتیکه تا
        ۷۲ ساعت پول به حساب شما برگشت داده نشد، می بایست با بانک صادرکننده کارت خود موضوع را پیگیری
        نمایید.
      </p>
      <h3><strong>پول از حساب من کسر شد ولی تراکنش ناموفق بود</strong></h3>
      <p>
        معمولا در اینگونه موارد طی ۷۲ ساعت پول برداشت شده به حساب شما برگشت خواهد خورد. درصورتیکه تا
        ۷۲ ساعت پول به حساب شما برگشت داده نشد، می بایست با بانک کارت مقصد موضوع را پیگیری نمایید
      </p>
      <h3><strong>تراکنش موفق بود ولی پول ۲ بار از حساب من کسر شد</strong></h3>
      <p>
        معمولا در اینگونه موارد طی ۷۲ ساعت پول برداشت شده به حساب شما برگشت خواهد خورد. درصورتیکه تا
        ۷۲ ساعت پول به حساب شما برگشت داده نشد، می بایست با بانک صادرکننده کارت خود موضوع را پیگیری
        نمایید
      </p>
      <h2>خرید شارژ</h2>
      <h3>دستورالعمل</h3>
      <p>
        برای خرید شارژ سیم&zwnj;کارت اعتباری برای شماره خودتان یا دوستانتان، کافی است به این بخش
        رفته، شماره سیمکارت اعتباری خود را وارد کرده و بسته مورد نظرتان را انتخاب کنید. دیجی&zwnj;پی
        امکان خرید شارژ از سه اپراتور ایرانسل، همراه اول و رایتل را فراهم کرده است.
      </p>
      <h3><strong>آیا اپلیکیشن دیجی&zwnj;پی به صورت مستقیم شارژ انجام می&zwnj;دهد؟</strong></h3>
      <p>
        بله با اپلیکیشن دیجی پی هر شماره تلفنی را که برای دریافت شارژ وارد کرده باشید بصورت مستقیم
        شارژ می شود.
      </p>
      <h3><strong>آیا می&zwnj;توانم برای فرد دیگیری شارژ بفرستم؟</strong></h3>
      <p>بله. کافیست در مرحله اول که شماره تلفن را وارد می کنید، شماره دوست خود را وارد کنید.</p>
      <h3><strong>آیا می&zwnj;توانم از اپلیکیشن دیجی&zwnj;پی رمز شارژ بگیرم؟</strong></h3>
      <p>
        خیر. شارژ در اپلیکیشن دیجی پی تنها بصورت مستقیم می باشد. یعنی پس از وارد کردن شماره تلفن و
        پرداخت هزینه شارژ بصورت مستقیم سیم کارت شما توسط اپراتور شارژ خواهد شد
      </p>
      <h3><strong>آیا به اندازه مبلغی که شارژ می&zwnj;خرم، شارژ می&zwnj;شوم؟</strong></h3>
      <p>
        خیر. ۹ درصد از مبلغ شارژ خریداری شده برای مالیات بر ارزش افزوده کسر شده و گوشی شما شارژ می
        شود.
      </p>
      <h3><strong>شارژ خریدم اما سیمکارت من شارژ نشد</strong></h3>
      <p>
        شماره تلفنی که برای آن شارژ خریداری کرده اید را اعلام کنید. ما با بررسی پنل مدیریت نتیجه را
        به شما اطلاع می دهیم. لطفا شماره تلفن خودتون و شماره ای که برای اون شارژ خریداری کردید، زمان
        تراکنش، مبلغ و شماره پیگیری تراکنش خودتون رو اعلام کنید تا پیگیری صورت بگیره.
      </p>
      <h3><strong>شارژ خریدم و پول از حساب من کسر شد اما سیمکارت شارژ نشد</strong></h3>
      <p>
        معمولا در اینگونه موارد طی ۷۲ ساعت پول برداشت شده به حساب شما برگشت خواهد خورد. درصورتیکه تا
        ۷۲ ساعت پول به حساب شما برگشت داده نشد، لطفا شماره تلفن خودتون و شماره ای که برای اون شارژ
        خریداری کردید، زمان تراکنش، مبلغ و شماره پیگیری تراکنش خودتون رو به ما اعلام کنید تا پیگیری
        صورت بگیرد.
      </p>
      <h3><strong>شارژ خریدم ولی از حساب من پول کسر نشد</strong></h3>
      <p>
        این مشکل احتمالا بخاطر مشکل اینترنت و ارتباط با بانک بوده و کاری نمی توان کرد. ممنون از شما
        که این موضوع را به ما اطلاع دادید. خوشحالیم که کاربرانی چون شما داریم
      </p>
      <h3><strong>چه نوع شارژرهایی می توانم خریداری کنم؟</strong></h3>
      <p>
        پس از وارد کردن شماره تلفن خود در مرحله اول خرید شارژ، در مرحله بعد تمامی انواع شارژهایی که
        می توانید برای سیم کارت خود خریداری کنید را مشاهده می کنید. یادتون نره که اگر سیم کارتتون
        ترابرد شده، موقع شارژ کردن حتما اپراتور درست رو انتخاب کنید.
      </p>
      <h3>
        <strong>آیا می توانم برای اینترنت وایمکس خودم شارژ بسته اینترنتی خریداری کنم؟</strong>
      </h3>
      <p>
        در حال حاضر تعداد محدودی از ارائه دهندگان اینترنت را پشتیبانی می کنیم. در صورتی که هنگام
        وارد کردن شماره اپلیکیشن به شما خطا می دهد یعنی از آن پشتیبانی نمی کنیم.
      </p>
      <h3><strong>از چه اپراتور هایی می توانم شارژ بخرم؟</strong></h3>
      <p>ایرانسل و همراه اول و رایتل</p>
      <h2>خرید بسته اینترنت</h2>
      <h3>دستورالعمل</h3>
      <p>
        برای خرید بسته اینترنتی سیم&zwnj;کارت اعتباری برای شماره خودتان یا دوستانتان، کافی است به
        این بخش رفته، شماره سیمکارت اعتباری خود را وارد کرده و بسته مورد نظرتان را انتخاب کنید.
        دیجی&zwnj;پی امکان خرید بسته اینترنتی از سه اپراتور ایرانسل، همراه اول و رایتل را فراهم کرده
        است
      </p>
      <h2>کیف پول</h2>
      <h3>دستورالعمل</h3>
      <p>
        با کیف پول دیجی پی خود قادر خواهید بود پرداخت های آنلاین خود را با سرعت بسیار بالاتری انجام
        دهید. کیف پول دیجی پی جایگزین کارت بانکی شماست و برای استفاده از آن کافیست با اپلیکیشن دیجی
        پی آن را شارژ نموده و خریدهای آنلاین خود را به راحتی انجام دهید.
      </p>
      <h3><strong>با کیف پول دیجی پی خودم چه کارهایی می توانم بکنم؟</strong></h3>
      <p>
        هدف کیف پول یا همان والت دیجی پی این است که بتوانید با اعتباری که درون کیف پول خود واریز می
        کنید تمامی فعالیت های مالی خود از جمله خرید شارژ، خرید بسته اینترنتی و انتقال وجه به کیف پول
        سایرین را انجام دهید.
      </p>
      <h3><strong>چگونه می توانم موجودی کیف پول خودم رو افزایش بدم؟</strong></h3>
      <p>
        کافی است در صفحه اصلی اپلیکیشن بر روی دکمه سبز رنگ افزایش موجودی بزنید و با وارد کردن مبلغ
        مورد نظر کیف پول خود را شارژ کنید.
      </p>
      <h3><strong>پرداخت را با موفقیت انجام داده ام اما کیف پولم شارژ نشده است؟</strong></h3>
      <p>
        دیجی پی پس از برداشت پول از حساب شما کیف پول شما را بلافاصله شارژ می کند. ابتدا صفحه نمایش
        موجودی کیف پول خود را بروزرسانی نمایید و در صورتی که موجودی کیف پول شما پس از ۳۰ دقیقه
        همچنان افزایش نیافته بود از طریق تماس با پشتیبانی دیجی پی مورد را پیگیری نمایید. دوستان ما
        در دیجی پی یا کیف پول شما را شارژ می کنند.
      </p>
      <h3><strong>در هنگام شارژ کیف پول (مرحله پرداخت) نرم افزار خطا داده است؟</strong></h3>
      <p>
        معمولا در اینگونه موارد طی ۷۲ ساعت پول برداشت شده به حساب شما برگشت خواهد خورد. درصورتیکه
        مبلغ به حسابتان برگشت نخورد، اطلاعات تراکنش را در اختیار ما قرار دهید تا پیگیری کنیم.
      </p>
      <h2>پرداخت عوارض جاده&zwnj;ای</h2>
      <h3><strong>دستورالعمل</strong></h3>
      <p>
        برخی از آزادراه های کشور دارای هزینه عوارض جاده ای هستند که باید در هنگام عبور از آن ها این
        هزینه را پرداخت کنید. در حالت معمولی این عوارض را به صورت نقدی پرداخت می کنید اما با استفاده
        از این امکان در اپلیکیشن می توانید بصورت آنلاین هزینه را پرداخت کنید. با پرداخت آنلاین این
        هزینه دیگر نیازی به توقف در صف پرداخت عوارض نقدی نیست و به راحتی از گیت عبور میکنید.
      </p>
      <h3>
        <strong>
          پرداخت عوارض بصورت انلاین چه تفاوتی با پرداخت با تگ های برچسبی دیگر که بر روی شیشه ماشین
          می چسبانیم دارند؟
        </strong>
      </h3>
      <p>
        با پرداخت این عوارض بصورت انلاین دیگر نیازی به چسباندن برچسب نیست و دوربین موجود در گیت
        عوارضی پلاک شما را خوانده و با استفاده از آن پرداخت شما را بررسی می کند.
      </p>
      <h3><strong>چه خودروهایی می توانند در اپلیکیشن عوارض خود را بپردازند؟</strong></h3>
      <p>سواری – وانت و مینی بوس- کامیونت- اتوبوس و کامیون دو محور- کامیون سه محور- تریلی</p>
      <h3><strong>چه شماره پلاک&zwnj;هایی می توانند در اپلیکیشن عوارض خود را بپردازند؟</strong></h3>
      <p>تمامی پلاک های حروف الفبا بعلاوه پلاک معلولین و پلاک های S (Service)و</p>
      <h3><strong>چرا نوع خودرو من در لیست خودروهای درون اپلیکیشن نیست؟</strong></h3>
      <p>
        احتمالا خودروی شما در این اتوبان اجازه تردد ندارد. همچنین ممکن است در بازه های زمانی مختلف
        اجازه تردد به نوع خودرو شما داده نشده است. یا اینکه اپلیکیشن از نوع خودروی شما پشتیبانی
        نمیکند
      </p>
      <h3><strong>امکان پرداخت عوارض جاده ای کدام اتوبان ها وجود دارد؟</strong></h3>
      <p>
        در حال حاضر تنها تعدادی از آزادراه&zwnj;ها که درون اپلیکیشن می توانید آن را مشاهده کنید
        پشتیبانی می شود. در اینده نزدیک لیست آزادراه&zwnj;هایی که می توانید عوارض را از درون
        اپلیکیشن پراخت کنید بیشتر خواهد شد.
      </p>
      <h3><strong>چه موقع می توانم عوارض را پرداخت کنم؟</strong></h3>
      <p>
        می توانید قبل از رسیدن به اتوبان عوارض خود را پرداخت کنید. این امکان تا 10 روز قبل از رسیدن
        به عوارضی مورد نظر امکان پذیر می باشد. به محض رسیدن به عوارضی دوربین، پلاک شما را خوانده و
        با پرداخت ثبت شده شما کنترل و بررسی می گردد.
      </p>
      <h3><strong>اگر پرداخت کردم ولی از آن عوارضی عبور نکردم چه می شود؟</strong></h3>
      <p>
        درصورتیکه پرداخت کنید تا ۱۰ روز فرصت دارید از آن عوارضی تردد کنید. در غیراین صورت هزینه به
        حساب شما برگشت داده نخواهد شد.
      </p>
      <h3><strong>آیا می توانم بعد از عبور از عوارضی هزینه را پرداخت کنم؟</strong></h3>
      <p>
        با عبور از یک عوارضی درصورتیکه هزینه آن را پرداخت نکرده باشید یک پیامک اطلاع رسانی از سازمان
        راه به شماره شما (شماره ای که در زمان شماره گذاری خودرو به پلاک شما اختصاص داده شده است)
        ارسال می شود و ۲۴ ساعت زمان دارید تا هزینه عوارضی را پرداخت کنید. در این بازه زمانی می
        توانید با استفاده از اپلیکیشن عوارض خود را پرداخت کنید و مانع از جریمه شدن بشوید.
      </p>
    </div>
  </div>
</div>
