@media screen and (width >= 1200px) {
  .hero-carousel {
    .swiper-slide {
      width: 748px !important;

      img {
        width: 748px !important;
      }
    }

    swiper-container {
      width: 748px !important;
    }

    app-custom-swiper {
      display: block;
      width: 748px !important;
    }

    .swiper-initialized {
      width: 748px !important;
    }
  }
}
